archive/shared-old/schema/gcdml-20071130/cvTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://gensc.org/gcdml" xmlns:gcdml="http://gensc.org/gcdml"
    xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" version="1.4"
    elementFormDefault="qualified">
    <annotation>
        <documentation xml:lang="en">Collection of enumeration types containing terms of controlled
            vocabularies. Primary use in GSC complient reports</documentation>
    </annotation>

    <include schemaLocation="./simpleTypes.xsd" />

    <simpleType name="samplingStrategyEnumType">
        <annotation>
            <documentation>Information on the strategy behind the method of sampling (e.g. was it
                enriched, screened, normalized) Input CV</documentation>
        </annotation>
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="enriched" />
                    <enumeration value="normalized" />
                    <enumeration value="screened" />
                    <enumeration value="plaque assay" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <simpleType name="dnaAmplificationEnumType">
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>

                <restriction base="string">
                    <enumeration value="emPCR" />
                    <enumeration value="Genomiphi" />
                    <enumeration value="MDA" />
                    <enumeration value="plones" />
                    <enumeration value="pcr" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <simpleType name="sequencingMethodEnumType">
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="dideoxysequencing" />
                    <enumeration value="dideoxysequencing and pyrosequencing for closure" />
                    <enumeration value="dideoxysequencing and pyrosequencing" />
                    <enumeration value="pyrosequencing" />
                    <enumeration value="polony" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>


    <simpleType name="assemblyMethodEnumType">
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="Celera" />
                    <enumeration value="Phrap" />
                    <enumeration value="TIGR ASSEMBLER" />
                    <enumeration value="Lasergene SeqMan" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="librarySize" type="gcdml:posIntegerOrNull">
        <annotation>
            <documentation>Total number of clones in library. Input: integer</documentation>
        </annotation>
    </element>


    <simpleType name="CloneVectorEnumType">
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="pUC19" />
                    <enumeration value="pCR-BLUNT" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="geneticLineage" />

    <simpleType name="geneticLineageType">
        <annotation>
            <documentation>This should provide further information about the genetic distinctness of
                this lineage by recording additional information i.e biovar, serovar, serotype,
                biovar, or any relevant genetic typing schemes like Group I plasmid. Could also
                contain alternative taxonomic information. Input: cv in GCat</documentation>
        </annotation>
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="biovar 1B" />
                    <enumeration value="Group I pQBR plasmid" />
                    <enumeration value="serovar 0:8" />
                    <enumeration value="not distinct below taxid level" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="ploidyLevel" type="gcdml:ploidyLevelEnumType">
        <annotation>
            <documentation>The ploidy level of the genome (e.g. allopolyploid, haploid, diploid
                etc). Has implications for the downstream study of duplicated gene and regions of
                the genomes (and perhaps for difficulties in assembly). Input: CV</documentation>
        </annotation>
    </element>

    <simpleType name="ploidyLevelEnumType">
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="triploid" />
                    <enumeration value="tetraploid" />
                    <enumeration value="allopolyploid" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="bioticRelationship" type="gcdml:bioticRelationshipEnumType" />

    <simpleType name="bioticRelationshipEnumType">
        <annotation>
            <documentation>Is it free-living on in a host and if the latter what type of
                relationship is observed (e.g. pathogen, commensal, symbiont, opportunist). Input
            CV</documentation>
        </annotation>
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="commensal" />
                    <enumeration value="commensal capable of causing disease" />
                    <enumeration value="free-living" />
                    <enumeration value="free-living/opportunistic" />
                    <enumeration value="pathogen" />
                    <enumeration value="symbiote" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="specificHostClass" type="gcdml:specificHostClassEnumType" />

    <simpleType name="specificHostClassEnumType">
        <annotation>
            <documentation>Whether the host is unknown, a laboratory host or a natural host or both,
                or isolated from the environment (e.g. a bacteria isolated from a swipe of an
                abiotic surface or an airborne virus etc)</documentation>
        </annotation>
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="environmental source" />
                    <enumeration value="laboratory host" />
                    <enumeration value="natural host" />
                    <enumeration value="natural and laboratory host" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="healthDiseaseStatus" type="gcdml:HealthDiseaseStatusType" />
    <simpleType name="HealthDiseaseStatusType">
        <annotation>
            <documentation>For viruses and phage, what was the health/disease status of that
                specific host (e.g. was it taken from a healthy host, a sick host, or a dead host).
                Input: CV, could be taken from disease ontology</documentation>
        </annotation>

        <restriction base="string" />
    </simpleType>

    <element name="trophicLevel" type="gcdml:trophicLevelEnumType" />

    <simpleType name="trophicLevelEnumType">
        <annotation>
            <documentation>Trophic levels are the feeding position in a food chain such as primary
                producers, herbivore, primary carnivore, etc. Photosynthetic organisms form the
                first trophic level, the producers. Herbivores form the second trophic level, while
                carnivores form the third and even the fourth trophic levels. Microbes can be a
                range of producers (e.g. chemolithotroph). Input: CV</documentation>
        </annotation>
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="autotroph (producer)" />
                    <enumeration value="heterotroph (consumer)" />
                    <enumeration value="saprotroph (decomposer)" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="propagation" type="gcdml:propagationEnumType" />
    <!-- TODO diferentiate between virus propagation and others -->
    <simpleType name="propagationEnumType">
        <annotation>
            <documentation>Specific to different taxa. Phage: lytic/lysogenic Plasmids:
                incompatibility group. Input: CV</documentation>
        </annotation>
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="lytic" />
                    <enumeration value="lysogenic" />
                    <enumeration value="incompatibility group" />
                    <enumeration value="unknown" />
                    <enumeration value="asexual" />
                    <enumeration value="sexual" />
                    <enumeration value="incompatibility_group_unknown" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="encodedTraits" type="gcdml:encodedTraitsEnumType" />

    <simpleType name="encodedTraitsEnumType">
        <annotation>
            <documentation>Should include key traits like antibiotic resistance or xenobiotic
                degradation phenotypes for plasmids, converting genes for phage. This is an example
                of a generic definition that users can customize as any number of traits could be
                caputured if this field were substructred. In the future, this could be selected
                from an ontology, and traits like, antibiotic resistence could be enumerated with
                any number of specific types of antibiotics. Input: CV</documentation>
        </annotation>
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="antibiotic resistance" />
                    <enumeration value="converting genes" />
                    <enumeration value="DNA polymerase" />
                    <enumeration value="mercury resistance" />
                    <enumeration value="RNA polymerase" />
                    <enumeration value="Sphingolipid biosynthesis" />
                    <enumeration value="virulence" />
                    <enumeration value="xenobiotic degradation" />
                    <enumeration value="unknown" />
                    <enumeration value="phosphate permease" />
                    <enumeration value="Conjugation" />
                    <enumeration value="UV resistance" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="oxygenRelation" type="gcdml:oxygenRelationEnumType" />

    <simpleType name="oxygenRelationEnumType">
        <annotation>
            <documentation>Is this organism an aerobe, anaerobe etc. Input CV</documentation>
        </annotation>
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="aerobic" />
                    <enumeration value="anaerobic" />
                    <enumeration value="facultative aerobe" />
                    <enumeration value="facultative anaerobe" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <simpleType name="nucExtractionEnumType">
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="formaldihide/CTAB extraction" />
                    <enumeration value="Phenol/Chloroform" />
                    <enumeration value="Wheatcroft and Williams" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

</schema>
