archive/shared-old/schema/gcdml/basicTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://gensc.sf.net/gdml" xmlns:gdml="http://gensc.sf.net/gdml"
    xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" version="1.4"
    elementFormDefault="qualified">
    <annotation>
        <documentation xml:lang="en"> Generic type (simple and complex) components for use in GDML
        </documentation>
    </annotation>

    <import namespace="http://www.opengis.net/gml"
        schemaLocation="../gml-3.1.1/gml.xsd" />

    <include schemaLocation="./simpleTypes.xsd" />

    <element name="notGiven" type="gdml:NullEnumeration">
        <annotation>
            <documentation>Chose if other element can not be applied.</documentation>
        </annotation>
    </element>


    <!-- ============================================================== -->
    <!-- == Comment Types ================================================== -->
    <!-- ============================================================== -->

    <element name="_Comment" abstract="true">
        <annotation>
            <documentation>Basis for different comments</documentation>
        </annotation>
    </element>

    <element name="simpleComment" type="gdml:SimpleCommentType" substitutionGroup="gdml:_Comment" />

    <complexType name="SimpleCommentType">
        <annotation>
            <documentation xml:lang="en">Give a simple comment with name and date</documentation>
        </annotation>
        <simpleContent>
            <annotation />
            <extension base="gdml:comment">
                <annotation />
                <attribute name="author" type="string" />
                <attribute name="date" type="date" />
            </extension>
        </simpleContent>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Identifier Types ================================================== -->
    <!-- ============================================================== -->

    <element name="gcatID" type="gdml:GcatIdType" />
    <simpleType name="GcatIdType">
        <annotation>
            <documentation xml:lang="en">Either an identifier for the Genome Catalog application
                (e.g. 000485_GCAT) or String "notAssigned to indicate that entry does not have this
                identifier</documentation>
        </annotation>
        <union memberTypes="gdml:notAssigned">
            <simpleType>
                <restriction base="string">
                    <pattern value="\d{6}_GCAT">
                        <annotation>
                            <documentation xml:lang="en">Regular expression matsches against genome
                                catalog identifier e.g. 000485_GCAT</documentation>
                        </annotation>
                    </pattern>
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <simpleType name="NCBITaxidType">
        <annotation>
            <documentation>Taxid imported from the NCBI Genome Projects database. If your organism
                does not yet have a taxid one will be created the first time you submit a molecular
                sequence to Genbank.</documentation>
        </annotation>
        <restriction base="positiveInteger">
            <whiteSpace value="collapse" />
            <totalDigits value="10" />
        </restriction>
    </simpleType>


    <simpleType name="AccessionNumberType">
        <annotation>
            <documentation>The accession number to resolve all replicons in this entry in the INSDC
                databases (DDBJ/EMBL/Genbank)</documentation>
        </annotation>
        <restriction base="string">
            <annotation>
                <documentation xml:lang="en">Pattern matches GenBank accesion numbers of the form a
                    single letter followed by five digits (e.g., U12345) or two letters followed by
                    six digits (e.g., AF123456).</documentation>
            </annotation>
            <pattern value="(\w\d{5})|(\w{2}\d{6})" />
        </restriction>
    </simpleType>

    <element name="genomeProjectID" type="gdml:GenomeProjectIdType" />

    <simpleType name="GenomeProjectIdType">
        <annotation>
            <documentation>Please enter the Genome Project Identifier for your genome (if available
                from the INSDC).</documentation>
        </annotation>
        <restriction base="positiveInteger">
            <whiteSpace value="collapse" />
            <totalDigits value="10" />
        </restriction>
    </simpleType>

    <element name="goldStamp" type="gdml:GoldStampType" />

    <simpleType name="GoldStampType">
        <annotation>
            <documentation>Identifier imported from the Genomes Online Database.</documentation>
        </annotation>
        <restriction base="string">
            <whiteSpace value="collapse" />
            <pattern value="Gc\d{1,8}" />
        </restriction>
    </simpleType>

    <simpleType name="PubMedID">
        <annotation>
            <documentation xml:lang="en">The identifier assigned by
            http://www.pubmed.com</documentation>
        </annotation>
        <restriction base="positiveInteger">
            <whiteSpace value="collapse" />
            <totalDigits value="10" />
        </restriction>
    </simpleType>

    <simpleType name="DoiType">
        <annotation>
            <documentation xml:lang="en">The Document Object Identifier</documentation>
        </annotation>
        <restriction base="string">
            <pattern value=".*/.*" />
        </restriction>
    </simpleType>

    <!-- ============================================================== -->
    <!-- == Literature References ============================================== -->
    <!-- ============================================================== -->

    <element name="pmid" type="gdml:PubMedID">
        <annotation>
            <documentation xml:lang="en"> The PubMed identifier (http://www.pubmed.com) of an
                article </documentation>
        </annotation>
    </element>

    <element name="doi" type="gdml:DoiType">
        <annotation>
            <documentation>The Document Object Identifier</documentation>
        </annotation>
    </element>

    <element name="articleReference">
        <complexType>
            <choice>
                <element ref="gdml:doi" />
                <element ref="gdml:pmid" />
            </choice>
        </complexType>
    </element>


    <element name="article" type="gdml:FullArticleType" />

    <complexType name="FullArticleType">
        <sequence>
            <element name="title" type="gdml:MinStringType" />
            <element name="author" type="gdml:AuthorType" maxOccurs="unbounded" />
            <element name="year" type="gYear" />
            <element name="vol" type="gdml:MinStringType" />
            <element name="journal" type="gdml:MinStringType" />
        </sequence>
        <attribute name="url" type="anyURI">
            <annotation>
                <documentation>The URL of the full text</documentation>
            </annotation>
        </attribute>
        <attribute name="pmid" type="gdml:PubMedID" use="optional" />
        <attribute name="doi" type="gdml:DoiType" use="optional" />
    </complexType>

    <!-- From NCBI DTD
        
        <!ENTITY % personal.name "(LastName,(ForeName|(FirstName,MiddleName?))?,
    Initials?,Suffix?)">
    <!ENTITY % author.name "(%personal.name; | CollectiveName)">
    
    TODO: we can also take the schema elements as defined by NCBI
    -->
    <complexType name="AuthorType">
        <choice>
            <element name="collectiveName" type="gdml:MinStringType" />
            <sequence>
                <element name="lastName" type="gdml:UpperCaseNameType" />
                <sequence minOccurs="0">
                    <element name="firstName" type="gdml:UpperCaseNameType" />
                    <element name="middleName" type="gdml:MinStringType" minOccurs="0" />
                </sequence>
                <element name="initials" type="gdml:MinStringType" minOccurs="0"> </element>
                <element name="suffix" type="gdml:MinStringType" minOccurs="0"> </element>
            </sequence>
        </choice>
        <attribute name="position" type="positiveInteger" use="optional" />
    </complexType>

    <element name="publication" type="gdml:PublicationType" />

    <complexType name="PublicationType">
        <sequence>
            <choice>
                <element ref="gdml:articleReference" />
                <element name="article" type="gdml:FullArticleType" />
            </choice>

            <element name="other" type="string" minOccurs="0" />
        </sequence>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Time ======================================================== -->
    <!-- ============================================================== -->


    <simpleType name="FuzzyTimePositionUnion">
        <annotation>
            <documentation xml:lang="en">Dates and dateTime may be indicated with varying degrees of
                precision. dateTime by itself does not allow right-truncation, except for fractions
                of seconds. When used with non-Gregorian calendars based on years, months, days, the
                same lexical representation should still be used, with leading zeros added if the
                year value would otherwise have fewer than four digits. .</documentation>
        </annotation>
        <union memberTypes="gml:CalDate dateTime" />
    </simpleType>


    <complexType name="FuzzyTimePositionType" final="#all">
        <annotation>
            <documentation xml:lang="en">Direct representation of a temporal position. Based on GML
                3.1.1 Indeterminate time values are also allowed, as described in ISO 19108. The
                indeterminatePosition attribute can be used alone or it can qualify a specific value
                for temporal position (e.g. before 2002-12). For time values that identify position
                within a calendar, the calendarEraName attribute provides the name of the calendar
                era to which the date is referenced (e.g. the Meiji era of the Japanese
            calendar).</documentation>
        </annotation>
        <simpleContent>
            <extension base="gdml:FuzzyTimePositionUnion">
                <attribute name="frame" type="anyURI" use="optional" default="#ISO-8601" />
                <attribute name="calendarEraName" type="string" use="optional" />
                <attribute name="indeterminatePosition" type="gml:TimeIndeterminateValueType"
                    use="optional" />
            </extension>
        </simpleContent>
    </complexType>

    <element name="samplingTime" type="gdml:FuzzyTimeType" />

    <complexType name="FuzzyTimeType">
        <choice>
            <element name="time" type="gdml:FuzzyTimePositionType" />
            <element ref="gdml:notGiven" />
        </choice>
    </complexType>

    <complexType name="ReportTitleType">
        <annotation>
            <documentation>A brief (3-4 word) title for this genome that will appear in the genome
                catalogue in the absence of any other identifying data (i.e. especially important
                for metagenomes which will not have taxid or organism identifiers, and also
                important for incomplete genome reports)</documentation>
        </annotation>
        <simpleContent>
            <extension base="string" />
        </simpleContent>
    </complexType>


    <!-- ============================================================== -->
    <!-- == Enum types ===================================================== -->
    <!-- ============================================================== -->

    <simpleType name="samplingStrategyEnumType">
        <annotation>
            <documentation>Information on the strategy behind the method of sampling (e.g. was it
                enriched, screened, normalized) Input CV</documentation>
        </annotation>
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="enriched" />
                    <enumeration value="normalized" />
                    <enumeration value="screened" />
                    <enumeration value="plaque assay" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <simpleType name="dnaAmplificationEnumType">
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>

                <restriction base="string">
                    <enumeration value="emPCR" />
                    <enumeration value="Genomiphi" />
                    <enumeration value="MDA" />
                    <enumeration value="plones" />
                    <enumeration value="pcr" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <simpleType name="sequencingMethodEnumType">
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="dideoxysequencing" />
                    <enumeration value="dideoxysequencing and pyrosequencing for closure" />
                    <enumeration value="dideoxysequencing and pyrosequencing" />
                    <enumeration value="pyrosequencing" />
                    <enumeration value="polony" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>


    <simpleType name="assemblyMethodEnumType">
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="Celera" />
                    <enumeration value="Phrap" />
                    <enumeration value="TIGR ASSEMBLER" />
                    <enumeration value="Lasergene SeqMan" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="librarySize" type="gdml:posIntegerOrNull">
        <annotation>
            <documentation>Total number of clones in library. Input: integer</documentation>
        </annotation>
    </element>

    <element name="cloneVector">
        <complexType>
            <simpleContent>
                <extension base="gdml:CloneVectorEnumType" />
            </simpleContent>
        </complexType>
    </element>


    <simpleType name="CloneVectorEnumType">
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="pUC19" />
                    <enumeration value="pCR-BLUNT" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="foldCoverage" type="gdml:foldCoverageType" />

    <simpleType name="foldCoverageType">
        <annotation>
            <documentation>Coverage, the fold coverage of the sequencing expressed as 2x, 3x, 18x
                etc</documentation>
        </annotation>
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="positiveInteger">
                    <maxExclusive value="100" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="fragmentClassificationMethod">
        <annotation>
            <documentation>What, if any, method was used to classify the fragments of the metagenome
                into different groups based on compositional features.</documentation>
        </annotation>
        <complexType>
            <simpleContent>
                <extension base="string"> </extension>
            </simpleContent>
        </complexType>
    </element>


    <simpleType name="GenomeProjectOrganismNameType">
        <annotation>
            <documentation>Organism name imported from NCBI Genome Project database. Should be
                consitent with NCBI taxonomy name.</documentation>
        </annotation>
        <restriction base="string">
            <whiteSpace value="collapse" />
        </restriction>
    </simpleType>

    <element name="geneticLineage" />

    <simpleType name="geneticLineageType">
        <annotation>
            <documentation>This should provide further information about the genetic distinctness of
                this lineage by recording additional information i.e biovar, serovar, serotype,
                biovar, or any relevant genetic typing schemes like Group I plasmid. Could also
                contain alternative taxonomic information. Input: cv in GCat</documentation>
        </annotation>
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="biovar 1B" />
                    <enumeration value="Group I pQBR plasmid" />
                    <enumeration value="serovar 0:8" />
                    <enumeration value="not distinct below taxid level" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="ploidyLevel" type="gdml:ploidyLevelEnumType">
        <annotation>
            <documentation>The ploidy level of the genome (e.g. allopolyploid, haploid, diploid
                etc). Has implications for the downstream study of duplicated gene and regions of
                the genomes (and perhaps for difficulties in assembly). Input: CV</documentation>
        </annotation>
    </element>

    <simpleType name="ploidyLevelEnumType">
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="triploid" />
                    <enumeration value="tetraploid" />
                    <enumeration value="allopolyploid" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="numReplicons" type="gdml:posIntegerOrNull">
        <annotation>
            <documentation>An integer reporting the number of replicons in a nuclear genome of
                eukaryotes, in the genome of a bacterium or archaea or the number of segments in a
                segmented virus. Always applied to the haploid chromsome count of a
            eukaryote.</documentation>
        </annotation>
    </element>

    <element name="extrachromosomalElements" type="gdml:posIntegerOrNull">
        <annotation>
            <documentation>For eukarya (optional) and bacteria (mimumum), do plasmids exist of
                significant phenotypic consequence (e.g. ones that determine virulence or antibiotic
                resistence). Megaplasmids? Other plasmids (borrelia has 15+
            plasmids)</documentation>
        </annotation>
    </element>

    <element name="estimatedSize" type="gdml:posIntegerOrNull">
        <annotation>
            <documentation>The estimated size of the genome prior to sequencing. Of particular
                importance in the sequencing of (eukaryotic) genome which could remain in draft form
                for a long or unspecified period. Input: integer, size in bp. Example: 300000
                Example: 4567</documentation>
        </annotation>
    </element>

    <simpleType name="CultureIdentifierType">
        <restriction base="string" />
    </simpleType>

    <simpleType name="CultureCollectionNameEnumType">
        <annotation>
            <documentation>The name of the culture collection, holder of the vocher or an
                institution. Could enumerate a list of common resources, just as the American Type
                Culture Collection (ATCC), German Collection of Microorganisms and Cell Cultures
                (DMZS) etc. Can select not deposited. Input: CV</documentation>
        </annotation>
        <union>
            <simpleType>
                <restriction base="string">
                    <enumeration value="ATCC" />
                    <enumeration value="CCAP" />
                    <enumeration value="DSMZ" />
                    <enumeration value="NCTC" />
                    <enumeration value="Plymouth Virus Collection" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="cultureCollection" type="gdml:CultureCollectionType" />


    <complexType name="CultureCollectionType">
        <annotation>
            <documentation>MIGS aims to provide unencumbered access to all genomic materials. All
                genomic regents should be deposited in at least two permanent archives and IDs
                should be made available here (cultures of micro-organisms: identifiers for culture
                collections; specimens (e.g. eukaryara and organelles): voucher condition and
                location</documentation>
        </annotation>
        <sequence>
            <choice>
                <element name="notGiven">
                    <simpleType>
                        <union memberTypes="gdml:NullEnumeration">
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value="not deposited" />
                                </restriction>
                            </simpleType>
                        </union>
                    </simpleType>
                </element>
                <sequence>
                    <element name="name" type="gdml:CultureCollectionNameEnumType" />
                    <element name="identifier" type="gdml:CultureIdentifierType" />
                    <element name="medium" type="gdml:CultureMediumIDType" minOccurs="0" />
                </sequence>
            </choice>
        </sequence>

    </complexType>

    <simpleType name="CultureMediumIDType">
        <restriction base="string"> </restriction>
    </simpleType>


    <element name="bioticRelationship" type="gdml:bioticRelationshipEnumType" />

    <simpleType name="bioticRelationshipEnumType">
        <annotation>
            <documentation>Is it free-living on in a host and if the latter what type of
                relationship is observed (e.g. pathogen, commensal, symbiont, opportunist). Input
            CV</documentation>
        </annotation>
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="commensal" />
                    <enumeration value="commensal capable of causing disease" />
                    <enumeration value="free-living" />
                    <enumeration value="free-living/opportunistic" />
                    <enumeration value="pathogen" />
                    <enumeration value="symbiote" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>


    <element name="specificHostClass" type="gdml:specificHostClassEnumType" />

    <simpleType name="specificHostClassEnumType">
        <annotation>
            <documentation>Whether the host is unknown, a laboratory host or a natural host or both,
                or isolated from the environment (e.g. a bacteria isolated from a swipe of an
                abiotic surface or an airborne virus etc)</documentation>
        </annotation>
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="environmental source" />
                    <enumeration value="laboratory host" />
                    <enumeration value="natural host" />
                    <enumeration value="natural and laboratory host" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>


    <element name="originalHost" type="gdml:OriginalHostType">
        <!-- TODO create attribute to state if host is natural or lab orunknown -->
        <annotation>
            <documentation>If there is a host involved, please provide its taxid (or select unknown,
                or environmental is not actually isolated from the dead or alive host - i.e.
                pathogen could be isolated from a swipe of a bench etc) and report whether it is a
                laboratory or natural host). From this we can calculate any number of groupings of
                hosts (e.g. animal vs plant, all fish hosts, etc)</documentation>
        </annotation>

    </element>

    <complexType name="OriginalHostType">
        <sequence>
            <element name="ncbiTaxid" type="gdml:NCBITaxidType">
                <annotation>
                    <documentation>The taxid of the specific host if it is known</documentation>
                </annotation>
            </element>
            <element ref="gdml:specificHostClass" />
        </sequence>
    </complexType>

    <element name="alternateHost" type="gdml:OriginalHostType" />

    <element name="hostSpecificityAndRange">
        <annotation>
            <documentation>If there is a host involved, what is its presumed host specificity and
                range. This is a highly debatably concept and often this information is not known or
                has not been properly observed; for example narrow or broad host-range plasmid.
                Input: taxid</documentation>
        </annotation>
        <complexType>
            <simpleContent>
                <extension base="string" />
            </simpleContent>
        </complexType>
    </element>

    <element name="healthDiseaseStatus" type="gdml:HealthDiseaseStatusType" />
    <simpleType name="HealthDiseaseStatusType">
        <annotation>
            <documentation>For viruses and phage, what was the health/disease status of that
                specific host (e.g. was it taken from a healthy host, a sick host, or a dead host).
                Input: CV, could be taken from disease ontology</documentation>
        </annotation>

        <restriction base="string" />
    </simpleType>

    <element name="pathogenicity" type="gdml:PathogenicityType" />

    <complexType name="PathogenicityType">
        <annotation>
            <documentation>For viruses, are they usually pathogenic or can they often persist
                without causing overt disease? Note: Clarify</documentation>
        </annotation>
        <simpleContent>
            <extension base="string" />
        </simpleContent>
    </complexType>



    <element name="trophicLevel" type="gdml:trophicLevelEnumType" />

    <simpleType name="trophicLevelEnumType">
        <annotation>
            <documentation>Trophic levels are the feeding position in a food chain such as primary
                producers, herbivore, primary carnivore, etc. Photosynthetic organisms form the
                first trophic level, the producers. Herbivores form the second trophic level, while
                carnivores form the third and even the fourth trophic levels. Microbes can be a
                range of producers (e.g. chemolithotroph). Input: CV</documentation>
        </annotation>
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="autotroph (producer)" />
                    <enumeration value="heterotroph (consumer)" />
                    <enumeration value="saprotroph (decomposer)" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="estimatedCommunityDiversity">
        <annotation>
            <documentation>For metagenomic samples only, the estimated community diversity and
                abundances of specific taxonomic groups. For example, at least 5 species, 2 dominant
                species, unknown etc. Input: free text</documentation>
        </annotation>
        <complexType>
            <simpleContent>
                <extension base="string"> </extension>
            </simpleContent>
        </complexType>
    </element>


    <element name="propagation" type="gdml:propagationEnumType" />

    <!-- TODO diferentiate between virus propagation and others -->
    <simpleType name="propagationEnumType">
        <annotation>
            <documentation>Specific to different taxa. Phage: lytic/lysogenic Plasmids:
                incompatibility group. Input: CV</documentation>
        </annotation>
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="lytic" />
                    <enumeration value="lysogenic" />
                    <enumeration value="incompatibility group" />
                    <enumeration value="unknown" />
                    <enumeration value="asexual" />
                    <enumeration value="sexual" />
                    <enumeration value="incompatibility_group_unknown" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>


    <element name="encodedTraits" type="gdml:encodedTraitsEnumType" />

    <simpleType name="encodedTraitsEnumType">
        <annotation>
            <documentation>Should include key traits like antibiotic resistance or xenobiotic
                degradation phenotypes for plasmids, converting genes for phage. This is an example
                of a generic definition that users can customize as any number of traits could be
                caputured if this field were substructred. In the future, this could be selected
                from an ontology, and traits like, antibiotic resistence could be enumerated with
                any number of specific types of antibiotics. Input: CV</documentation>
        </annotation>
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="antibiotic resistance" />
                    <enumeration value="converting genes" />
                    <enumeration value="DNA polymerase" />
                    <enumeration value="mercury resistance" />
                    <enumeration value="RNA polymerase" />
                    <enumeration value="Sphingolipid biosynthesis" />
                    <enumeration value="virulence" />
                    <enumeration value="xenobiotic degradation" />
                    <enumeration value="unknown" />
                    <enumeration value="phosphate permease" />
                    <enumeration value="Conjugation" />
                    <enumeration value="UV resistance" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="oxygenRelation" type="gdml:oxygenRelationEnumType" />

    <simpleType name="oxygenRelationEnumType">
        <annotation>
            <documentation>Is this organism an aerobe, anaerobe etc</documentation>
        </annotation>
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="aerobic" />
                    <enumeration value="anaerobic" />
                    <enumeration value="facultative aerobe" />
                    <enumeration value="facultative anaerobe" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="finishingStrategy" type="gdml:finishingStrategyType" />

    <simpleType name="finishingStrategyType">
        <annotation>
            <documentation>Was the genome project intended to produce a complete or draft
            genome.</documentation>
        </annotation>
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="complete" />
                    <enumeration value="draft" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <simpleType name="nucExtractionEnumType">
        <union memberTypes="gdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="formaldihide/CTAB extraction" />
                    <enumeration value="Phenol/Chloroform" />
                    <enumeration value="Wheatcroft and Williams" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <complexType name="relevanceType">
        <annotation>
            <documentation>A brief phrase or sentence describing the primary reason(s) this
                genome/metagenome was sequenced. For example because it causes a particular disease,
                it is involved in a particular industrial process, or because this lineage has never
                been sampled before etc. Input: free text</documentation>
        </annotation>
        <simpleContent>
            <extension base="string"> </extension>
        </simpleContent>
    </complexType>

    <!--    <complexType name="entity_data_collection">
        <sequence>
            <element name="entity">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>


            <element name="assay">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
        </sequence>

    </complexType>

    <simpleType name="status_of_isolate_restriction">
        <restriction base="string" />
    </simpleType>
    <simpleType name="direction_longitude_restriction">
        <restriction base="string">
            <enumeration value="East" />
            <enumeration value="West" />
        </restriction>
    </simpleType>
    <simpleType name="direction_latitude_restriction">
        <restriction base="string">
            <enumeration value="North" />
            <enumeration value="South" />
        </restriction>
    </simpleType>

    <simpleType name="relationship_restriction">
        <restriction base="string" />
    </simpleType>

    <simpleType name="is_type_strain_restriction">
        <restriction base="string" />
    </simpleType>

    <simpleType name="reason_for_sequencing_restriction">
        <restriction base="string" />
    </simpleType>

    <simpleType name="status_of_host_restriction">
        <restriction base="string" />
    </simpleType>

    <simpleType name="environment_restriction">
        <restriction base="string" />
    </simpleType>

    <simpleType name="metabolic_strategy_restriction">
        <restriction base="string" />
    </simpleType>
    <simpleType name="spore_forming_restriction">
        <restriction base="string" />
    </simpleType>
    <simpleType name="pathogenicity_restriction">
        <restriction base="string" />
    </simpleType>
    <simpleType name="publication_source_restriction">
        <restriction base="string" />
    </simpleType>


    <simpleType name="habitat_type_restriction">
        <restriction base="string">
            <enumeration value="air" />
            <enumeration value="aquatic" />
            <enumeration value="freshwater" />
            <enumeration value="host_associated" />
            <enumeration value="human_host_associated" />
            <enumeration value="marine" />
            <enumeration value="soil" />
            <enumeration value="terrestrial" />
            <enumeration value="unknown" />
            <enumeration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                value="terrestrial_plant_associated" />
        </restriction>
    </simpleType>

    <simpleType name="model_organism_restriction">
        <restriction base="string" />
    </simpleType>

    <simpleType name="ncbi_status_restriction">
        <restriction base="string" />
    </simpleType>
-->
</schema>
