archive/shared-old/schema/gcdml/sourceData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://gensc.sf.net/gdml" xmlns:gdml="http://gensc.sf.net/gdml"
    xmlns="http://www.w3.org/2001/XMLSchema" version="1.4" elementFormDefault="qualified">

    <annotation>
        <documentation xml:lang="en"> This Schema contains elements and types to describe different
            sources of genome data e.g. GOLD database, NCBI Genome Project </documentation>
    </annotation>


    <complexType name="sources">
        <all>
            <element name="genomeProject" type="gdml:NCBIGenomeProjectType" />
            <element name="gold" type="gdml:GoldType" />
        </all>
    </complexType>


    <complexType name="NCBIGenomeProjectType">
        <sequence>
            <element name="ncbi_status">
                <annotation>
                    <documentation>Status of project imported from NCBI Genome Projects database. If
                        your entry does not have a status please register it with
                    NCBI.</documentation>
                </annotation>
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="taxonomic_group">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="sequence_status">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="genome_size">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="gc_content">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="gram_stain">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="shape">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="arrangement">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="endospore">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="motility">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="salinity">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="oxygen">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="habitat">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="temperature_range">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="pathogen">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="disease">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
        </sequence>
    </complexType>


    <complexType name="GoldType">
        <sequence>
            <element name="organism">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="strain">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="serovar">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="culture">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="symbiont">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="type">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="phylogeny">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="status">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="phenotype">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="relevance">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="disease">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="ecotype">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="isolatiion">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="country">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="availabiity">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="size">
                <annotation>
                    <documentation>In kb</documentation>
                </annotation>
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="orfs">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="data">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="institute">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="funding">
                <complexType>
                    <simpleContent>
                        <extension base="string">
                            <attribute fixed="150_xid" name="xid" />
                            <attribute name="xcom" />
                            <attribute name="xpub" />
                        </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="publication">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>

            <element name="date">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="contact_name">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="contact_email">
                <complexType>
                    <simpleContent>
                        <extension base="string"> </extension>
                    </simpleContent>
                </complexType>
            </element>
        </sequence>
    </complexType>
</schema>
