shared/schema/gcdml-20071130/basicTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://gensc.org/gcdml" xmlns:gcdml="http://gensc.org/gcdml"
    xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" version="1.4"
    elementFormDefault="qualified">
    <annotation>
        <documentation xml:lang="en"> Generic type (simple and complex) components for use in GCDML
        </documentation>
    </annotation>

    <include schemaLocation="./simpleTypes.xsd" />
    <include schemaLocation="./cvTypes.xsd" />

    <!--    <import namespace="http://www.opengis.net/gml"
        schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />
    -->

    <import namespace="http://www.opengis.net/gml" schemaLocation="../gml-3.1.1/gml.xsd" />



    <element name="notGiven" type="gcdml:NullEnumeration">
        <annotation>
            <documentation>Chose if other element can not be applied.</documentation>
        </annotation>
    </element>


    <!-- ============================================================== -->
    <!-- == Comment Types ================================================== -->
    <!-- ============================================================== -->

    <element name="_Comment" abstract="true">
        <annotation>
            <documentation>Basis for different comments</documentation>
        </annotation>
    </element>

    <element name="simpleComment" type="gcdml:SimpleCommentType" substitutionGroup="gcdml:_Comment" />

    <complexType name="SimpleCommentType">
        <annotation>
            <documentation xml:lang="en">Give a simple comment with name and date</documentation>
        </annotation>
        <simpleContent>
            <annotation />
            <extension base="gcdml:comment">
                <annotation />
                <attribute name="author" type="string" />
                <attribute name="date" type="date" />
            </extension>
        </simpleContent>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Identifier Types ================================================== -->
    <!-- ============================================================== -->

    <element name="gcatID" type="gcdml:GcatIdType" />
    <simpleType name="GcatIdType">
        <annotation>
            <documentation xml:lang="en">Either an identifier for the Genome Catalog application
                (e.g. 000485_GCAT) or String "notAssigned to indicate that entry does not have this
                identifier</documentation>
        </annotation>
        <union memberTypes="gcdml:notAssigned">
            <simpleType>
                <restriction base="string">
                    <pattern value="\d{6}_GCAT">
                        <annotation>
                            <documentation xml:lang="en">Regular expression matsches against genome
                                catalog identifier e.g. 000485_GCAT</documentation>
                        </annotation>
                    </pattern>
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <simpleType name="NCBITaxidType">
        <annotation>
            <documentation>Taxid imported from the NCBI Genome Projects database. If your organism
                does not yet have a taxid one will be created the first time you submit a molecular
                sequence to Genbank.</documentation>
        </annotation>
        <restriction base="positiveInteger">
            <whiteSpace value="collapse" />
            <totalDigits value="10" />
        </restriction>
    </simpleType>


    <simpleType name="AccessionNumberType">
        <annotation>
            <documentation>The accession number to resolve all replicons in this entry in the INSDC
                databases (DDBJ/EMBL/Genbank)</documentation>
        </annotation>
        <restriction base="string">
            <annotation>
                <documentation xml:lang="en">Pattern matches GenBank accesion numbers of the form a
                    single letter followed by five digits (e.g., U12345) or two letters followed by
                    six digits (e.g., AF123456).</documentation>
            </annotation>
            <pattern value="(\w\d{5})|(\w{2}\d{6})" />
        </restriction>
    </simpleType>

    <simpleType name="AccessionNumberListType">
        <annotation>
            <documentation xml:lang="en">List of Accession numbers</documentation>
        </annotation>
        <list itemType="gcdml:AccessionNumberType" />
    </simpleType>

    <element name="genomeProjectID" type="gcdml:GenomeProjectIdType" />

    <simpleType name="GenomeProjectIdType">
        <annotation>
            <documentation>Please enter the Genome Project Identifier for your genome (if available
                from the INSDC).</documentation>
        </annotation>
        <restriction base="positiveInteger">
            <whiteSpace value="collapse" />
            <totalDigits value="10" />
        </restriction>
    </simpleType>

    <element name="goldStamp" type="gcdml:GoldStampType" />

    <simpleType name="GoldStampType">
        <annotation>
            <documentation>Identifier imported from the Genomes Online Database.</documentation>
        </annotation>
        <restriction base="string">
            <whiteSpace value="collapse" />
            <pattern value="Gc\d{1,8}" />
        </restriction>
    </simpleType>

    <simpleType name="PubMedID">
        <annotation>
            <documentation xml:lang="en">The identifier assigned by
            http://www.pubmed.com</documentation>
        </annotation>
        <restriction base="positiveInteger">
            <whiteSpace value="collapse" />
            <totalDigits value="10" />
        </restriction>
    </simpleType>

    <simpleType name="DoiType">
        <annotation>
            <documentation xml:lang="en">The Document Object Identifier</documentation>
        </annotation>
        <restriction base="string">
            <pattern value=".*/.*" />
        </restriction>
    </simpleType>

    <!-- ============================================================== -->
    <!-- == Literature References ============================================== -->
    <!-- ============================================================== -->

    <element name="pmid" type="gcdml:PubMedID">
        <annotation>
            <documentation xml:lang="en"> The PubMed identifier (http://www.pubmed.com) of an
                article </documentation>
        </annotation>
    </element>

    <element name="doi" type="gcdml:DoiType">
        <annotation>
            <documentation>The Document Object Identifier</documentation>
        </annotation>
    </element>

    <element name="articleReference">
        <complexType>
            <choice>
                <element ref="gcdml:doi" />
                <element ref="gcdml:pmid" />
            </choice>
        </complexType>
    </element>


    <element name="article" type="gcdml:FullArticleType" />

    <complexType name="FullArticleType">
        <sequence>
            <element name="title" type="gcdml:MinStringType" />
            <element name="author" type="gcdml:AuthorType" maxOccurs="unbounded" />
            <element name="year" type="gYear" />
            <element name="vol" type="gcdml:MinStringType" />
            <element name="journal" type="gcdml:MinStringType" />
        </sequence>
        <attribute name="url" type="anyURI">
            <annotation>
                <documentation>The URI of the full text</documentation>
            </annotation>
        </attribute>
        <attribute name="pmid" type="gcdml:PubMedID" use="optional" />
        <attribute name="doi" type="gcdml:DoiType" use="optional" />
    </complexType>

    <!-- From NCBI DTD
        
        <!ENTITY % personal.name "(LastName,(ForeName|(FirstName,MiddleName?))?,
    Initials?,Suffix?)">
    <!ENTITY % author.name "(%personal.name; | CollectiveName)">
    
    TODO: we can also take the schema elements as defined by NCBI
    -->
    <complexType name="AuthorType">
        <choice>
            <element name="collectiveName" type="gcdml:MinStringType" />
            <sequence>
                <element name="lastName" type="gcdml:UpperCaseNameType" />
                <sequence minOccurs="0">
                    <element name="firstName" type="gcdml:UpperCaseNameType" />
                    <element name="middleName" type="gcdml:MinStringType" minOccurs="0" />
                </sequence>
                <element name="initials" type="gcdml:MinStringType" minOccurs="0"> </element>
                <element name="suffix" type="gcdml:MinStringType" minOccurs="0"> </element>
            </sequence>
        </choice>
        <attribute name="position" type="positiveInteger" use="optional" />
    </complexType>

    <element name="publication" type="gcdml:PublicationType" />

    <complexType name="PublicationType">
        <sequence>
            <choice>
                <element ref="gcdml:articleReference" />
                <element name="article" type="gcdml:FullArticleType" />
            </choice>

            <element name="other" type="string" minOccurs="0" />
        </sequence>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Time Types ==================================================== -->
    <!-- ============================================================== -->


    <simpleType name="FuzzyTimePositionUnion">
        <annotation>
            <documentation xml:lang="en">Dates and dateTime may be indicated with varying degrees of
                precision. dateTime by itself does not allow right-truncation, except for fractions
                of seconds. When used with non-Gregorian calendars based on years, months, days, the
                same lexical representation should still be used, with leading zeros added if the
                year value would otherwise have fewer than four digits. .</documentation>
        </annotation>
        <union memberTypes="gml:CalDate dateTime" />
    </simpleType>


    <complexType name="FuzzyTimePositionType" final="#all">
        <annotation>
            <documentation xml:lang="en">Direct representation of a temporal position. Based on GML
                3.1.1 Indeterminate time values are also allowed, as described in ISO 19108. The
                indeterminatePosition attribute can be used alone or it can qualify a specific value
                for temporal position (e.g. before 2002-12). For time values that identify position
                within a calendar, the calendarEraName attribute provides the name of the calendar
                era to which the date is referenced (e.g. the Meiji era of the Japanese
            calendar).</documentation>
        </annotation>
        <simpleContent>
            <extension base="gcdml:FuzzyTimePositionUnion">
                <attribute name="frame" type="anyURI" use="optional" default="#ISO-8601" />
                <attribute name="calendarEraName" type="string" use="optional" />
                <attribute name="indeterminatePosition" type="gml:TimeIndeterminateValueType"
                    use="optional" />
            </extension>
        </simpleContent>
    </complexType>

    <element name="samplingTime" type="gcdml:FuzzyTimeType" />

    <complexType name="FuzzyTimeType">
        <choice>
            <element name="time" type="gcdml:FuzzyTimePositionType" />
            <element ref="gcdml:notGiven" />
        </choice>
    </complexType>

    <complexType name="ReportTitleType">
        <annotation>
            <documentation>A brief (3-4 word) title for this genome that will appear in the genome
                catalogue in the absence of any other identifying data (i.e. especially important
                for metagenomes which will not have taxid or organism identifiers, and also
                important for incomplete genome reports)</documentation>
        </annotation>
        <simpleContent>
            <extension base="string" />
        </simpleContent>
    </complexType>


    <!-- ============================================================== -->
    <!-- == Enum types ===================================================== -->
    <!-- ============================================================== -->


    <!-- TODO: element really needed?? -->
    <element name="foldCoverage" type="gcdml:foldCoverageType" />

    <simpleType name="foldCoverageType">
        <annotation>
            <documentation>Coverage, the fold coverage of the sequencing expressed as 2x, 3x, 18x
                etc</documentation>
        </annotation>
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="positiveInteger">
                    <maxExclusive value="100" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="fragmentClassificationMethod">
        <annotation>
            <documentation>What, if any, method was used to classify the fragments of the metagenome
                into different groups based on compositional features.</documentation>
        </annotation>
        <complexType>
            <simpleContent>
                <extension base="string"> </extension>
            </simpleContent>
        </complexType>
    </element>


    <simpleType name="GenomeProjectOrganismNameType">
        <annotation>
            <documentation>Organism name imported from NCBI Genome Project database. Should be
                consitent with NCBI taxonomy name.</documentation>
        </annotation>
        <restriction base="string">
            <whiteSpace value="collapse" />
        </restriction>
    </simpleType>

    <element name="numReplicons" type="gcdml:posIntegerOrNull">
        <annotation>
            <documentation>An integer reporting the number of replicons in a nuclear genome of
                eukaryotes, in the genome of a bacterium or archaea or the number of segments in a
                segmented virus. Always applied to the haploid chromsome count of a
            eukaryote.</documentation>
        </annotation>
    </element>

    <element name="extrachromosomalElements" type="gcdml:posIntegerOrNull">
        <annotation>
            <documentation>For eukarya (optional) and bacteria (mimumum), do plasmids exist of
                significant phenotypic consequence (e.g. ones that determine virulence or antibiotic
                resistence). Megaplasmids? Other plasmids (borrelia has 15+
            plasmids)</documentation>
        </annotation>
    </element>

    <element name="estimatedSize" type="gcdml:posIntegerOrNull">
        <annotation>
            <documentation>The estimated size of the genome prior to sequencing. Of particular
                importance in the sequencing of (eukaryotic) genome which could remain in draft form
                for a long or unspecified period. Input: integer, size in bp. Example: 300000
                Example: 4567</documentation>
        </annotation>
    </element>

    <simpleType name="CultureIdentifierType">
        <restriction base="string" />
    </simpleType>


    <!-- TODO work out the list straininfo.net???? -->
    <simpleType name="CultureCollectionNameEnumType">
        <annotation>
            <documentation>The name of the culture collection, holder of the vocher or an
                institution. Could enumerate a list of common resources, just as the American Type
                Culture Collection (ATCC), German Collection of Microorganisms and Cell Cultures
                (DMZS) etc. Can select not deposited. Input: CV</documentation>
        </annotation>
        <union>
            <simpleType>
                <restriction base="string">
                    <enumeration value="ATCC" />
                    <enumeration value="CCAP" />
                    <enumeration value="DSMZ" />
                    <enumeration value="NCTC" />
                    <enumeration value="Plymouth Virus Collection" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <element name="cultureCollection" type="gcdml:CultureCollectionType" />

    <complexType name="CultureCollectionType">
        <annotation>
            <documentation>MIGS aims to provide unencumbered access to all genomic materials. All
                genomic regents should be deposited in at least two permanent archives and IDs
                should be made available here (cultures of micro-organisms: identifiers for culture
                collections; specimens (e.g. eukaryara and organelles): voucher condition and
                location</documentation>
        </annotation>
        <sequence>
            <choice>
                <element name="notGiven">
                    <simpleType>
                        <union memberTypes="gcdml:NullEnumeration">
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value="not deposited" />
                                </restriction>
                            </simpleType>
                        </union>
                    </simpleType>
                </element>
                <sequence>
                    <element name="name" type="gcdml:CultureCollectionNameEnumType" />
                    <element name="identifier" type="gcdml:CultureIdentifierType" />
                    <element name="medium" type="gcdml:CultureMediumIDType" minOccurs="0" />
                </sequence>
            </choice>
        </sequence>

    </complexType>

    <simpleType name="CultureMediumIDType">
        <restriction base="string"> </restriction>
    </simpleType>




    <element name="originalHost" type="gcdml:OriginalHostType">
        <annotation>
            <documentation>If there is a host involved, please provide its taxid (or environmental
                is not actually isolated from the dead or alive host - i.e. pathogen could be
                isolated from a swipe of a bench etc) and report whether it is a laboratory or
                natural host). From this we can calculate any number of groupings of hosts (e.g.
                animal vs plant, all fish hosts, etc)</documentation>
        </annotation>
    </element>

    <complexType name="OriginalHostType">
        <sequence>
            <element name="ncbiTaxid" type="gcdml:NCBITaxidType">
                <annotation>
                    <documentation>The taxid of the specific host if it is known</documentation>
                </annotation>
            </element>
            <element ref="gcdml:specificHostClass" />
        </sequence>
    </complexType>

    <element name="alternateHost" type="gcdml:OriginalHostType" />

    <element name="hostSpecificityAndRange">
        <annotation>
            <documentation>If there is a host involved, what is its presumed host specificity and
                range. This is a highly debatably concept and often this information is not known or
                has not been properly observed; for example narrow or broad host-range plasmid.
                Input: taxid</documentation>
        </annotation>
        <complexType>
            <simpleContent>
                <extension base="string" />
            </simpleContent>
        </complexType>
    </element>


    <element name="pathogenicity" type="gcdml:PathogenicityType" />

    <complexType name="PathogenicityType">
        <annotation>
            <documentation>For viruses, are they usually pathogenic or can they often persist
                without causing overt disease? Note: Clarify</documentation>
        </annotation>
        <simpleContent>
            <extension base="string" />
        </simpleContent>
    </complexType>





    <element name="estimatedCommunityDiversity">
        <annotation>
            <documentation>For metagenomic samples only, the estimated community diversity and
                abundances of specific taxonomic groups. For example, at least 5 species, 2 dominant
                species, unknown etc. Input: free text</documentation>
        </annotation>
        <complexType>
            <simpleContent>
                <extension base="string"> </extension>
            </simpleContent>
        </complexType>
    </element>








    <element name="finishingStrategy" type="gcdml:finishingStrategyType" />

    <simpleType name="finishingStrategyType">
        <annotation>
            <documentation>Was the genome project intended to produce a complete or draft
            genome.</documentation>
        </annotation>
        <union memberTypes="gcdml:NullEnumeration">
            <simpleType>
                <restriction base="string">
                    <enumeration value="complete" />
                    <enumeration value="draft" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>



    <complexType name="relevanceType">
        <annotation>
            <documentation>A brief phrase or sentence describing the primary reason(s) this
                genome/metagenome was sequenced. For example because it causes a particular disease,
                it is involved in a particular industrial process, or because this lineage has never
                been sampled before etc. Input: free text</documentation>
        </annotation>
        <simpleContent>
            <extension base="string"> </extension>
        </simpleContent>
    </complexType>

    <element name="_Material" abstract="true">
        <annotation>
            <documentation xml:lang="en">Global element which acts as head of the substitutionGroup
                that may include all types of sample and biomaterial</documentation>
        </annotation>
    </element>

</schema>
