shared/schema/gcdml-20071130/environmentalSample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://gensc.org/gcdml" xmlns:gcdml="http://gensc.org/gcdml"
    xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" version="1.4"
    elementFormDefault="qualified">
    <annotation>
        <documentation>Minimum Information about a Metagenomic Sequence (MIMS). Currently applies
            to:: ocean water, sediment, and sediment pore water. MIMS originated in aset of
            environmental parameters developed by The International Census of Marine Microbes
            (http://icomm.mbl.edu/) which has been reduced into a list of core and optional
            parameters by Renzo Kottmann based on the appearance of parameters in a survey of 62
            metagenomic publications. Builds on MIGS to form an extension for the marine
            metagenomics community. This should be extended in the future to other habitat types
            like soil etc.</documentation>
    </annotation>

    <include schemaLocation="./basicTypes.xsd" />

    <!--    <import namespace="http://www.opengis.net/gml"
        schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />
-->

    <import namespace="http://www.opengis.net/gml"
        schemaLocation="../gml-3.1.1/gml.xsd" />

    <element name="originalSample" type="gcdml:SourceSampleType" />

    <complexType name="SourceSampleType">
        <annotation>
            <documentation xml:lang="en"> The environmental source description of the original,
                physical material or organismal sample collected from the environment.
            </documentation>
        </annotation>
        <sequence>
            <choice>
                <element name="collection" type="gcdml:SampleCollectionType" />
                <choice>
                    <element ref="gcdml:physicalMaterial" />
                    <element ref="gcdml:organismalMaterial" />
                </choice>
            </choice>
        </sequence>
    </complexType>

    <complexType name="SourceSampleMetagenomicType">
        <sequence>
            <choice>
                <element name="collection" type="gcdml:SampleCollectionMetagenomicType"> </element>
                <choice>
                    <element name="physicalMaterial" type="gcdml:MetagenomePhysicalSampleType" />
                    <element ref="gcdml:organismalMaterial" />
                </choice>
            </choice>
        </sequence>
    </complexType>

    <attribute name="criteria" type="gcdml:CollectionCriteriaEnumType" />

    <element name="sampleCollection" type="gcdml:SampleCollectionType" />

    <complexType name="SampleCollectionType">
        <choice maxOccurs="unbounded">
            <element ref="gcdml:organismalMaterial" />
            <element ref="gcdml:physicalMaterial" />
        </choice>
        <attribute ref="gcdml:criteria" />
    </complexType>

    <complexType name="SampleCollectionMetagenomicType">
        <choice maxOccurs="unbounded">
            <element ref="gcdml:organismalMaterial" />
            <element name="physicalMaterial" type="gcdml:MetagenomePhysicalSampleType" />
        </choice>
        <attribute ref="gcdml:criteria" />
    </complexType>


    <simpleType name="CollectionCriteriaEnumType">
        <restriction base="token">
            <enumeration value="pooled" />
            <enumeration value="replicates" />
            <enumeration value="different" />
            <enumeration value="single" />
        </restriction>
    </simpleType>


    <complexType name="AbstractMaterialType" abstract="true">
        <sequence>
            <element ref="gcdml:samplingTime" minOccurs="1" />
            <element ref="gcdml:_SampleLocation" minOccurs="1" />
            <element ref="gcdml:_Habitat" minOccurs="1" />
        </sequence>
    </complexType>


    <element name="physicalMaterial" type="gcdml:PhysicalMaterialType"
        substitutionGroup="gcdml:_Material" />

    <complexType name="PhysicalMaterialType">
        <complexContent>
            <extension base="gcdml:AbstractMaterialType">
                <sequence>
                    <element name="materialType" type="string" />
                    <element ref="gcdml:amount" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="MetagenomePhysicalSampleType">
        <complexContent>
            <extension base="gcdml:AbstractMaterialType">
                <sequence>
                    <element name="materialType" type="string" />
                    <element ref="gcdml:amount" minOccurs="1" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="organismalMaterial" type="gcdml:OrganismalMaterialType"
        substitutionGroup="gcdml:_Material" />


    <complexType name="OrganismalMaterialType">
        <complexContent>
            <extension base="gcdml:AbstractMaterialType">
                <sequence>
                    <element name="name" type="gcdml:OrganismNameType" />
                </sequence>

                <attribute name="ncbiTaxID" type="gcdml:NCBITaxidType" use="optional" />
            </extension>

        </complexContent>

    </complexType>

    <complexType name="OrganismNameType">
        <sequence>
            <element name="genus" type="gcdml:UpperCaseNameType" />
            <element name="species" type="gcdml:LowerCaseNameType" />
            <element name="strain" type="token" />
            <element name="typeStrain">
                <simpleType>
                    <restriction base="boolean">
                        <pattern value="true|false" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>


    <element name="_SampleLocation" abstract="true">
        <annotation>
            <documentation xml:lang="en">Global element which acts as head of the substitutionGroup
                that may include all types of sample locations</documentation>
        </annotation>
    </element>


    <element name="samplePointLocation" type="gcdml:SamplePointLocationType"
        substitutionGroup="gcdml:_SampleLocation" />

    <complexType name="SamplePointLocationType">
        <annotation>
            <documentation>Give the location of a sample in a simplified way.</documentation>
        </annotation>
        <sequence>
            <element ref="gml:LocationKeyWord" minOccurs="0" />
            <element ref="gml:LocationString" minOccurs="0" />
            <element name="pos2D">
                <complexType>
                    <simpleContent>
                        <restriction base="gml:DirectPositionType">
                            <length value="2" />
                        </restriction>
                    </simpleContent>
                </complexType>
            </element>
            <!-- TODO make this as an attribue as enumeration?-->
            <element name="determinationMethod" type="string" />
        </sequence>
    </complexType>

    <!-- took it out to ease the GenCat development -->
    <element name="sampleLocation" type="gcdml:SampleLocationType"
        substitutionGroup="gcdml:_SampleLocation" />

    <complexType name="SampleLocationType">
        <complexContent>
            <restriction base="gml:AbstractFeatureType">
                <annotation>
                    <documentation>Derived as suggested by GML 3.1.1 clause 8.2.6</documentation>
                </annotation>
                <sequence>
                    <element ref="gml:metaDataProperty" minOccurs="0" maxOccurs="0" />
                    <element ref="gml:description" minOccurs="0" />
                    <element ref="gml:name" minOccurs="1" maxOccurs="unbounded" />
                    <element ref="gml:boundedBy" minOccurs="0" />
                    <element ref="gml:location" minOccurs="1" />
                </sequence>
            </restriction>
        </complexContent>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Environmental Parameter Types ====================================== -->
    <!-- ============================================================== -->

    <attributeGroup name="MeasurementAttributeGroup">
        <attribute name="standardDeviation" type="gcdml:doubleOrNull" />
        <attribute name="numMeasurements" type="gcdml:posIntegerOrNull">
            <annotation>
                <documentation>How many measurements resulted in the reported
                number?</documentation>
            </annotation>
        </attribute>
        <attribute name="comment" type="gcdml:comment" use="optional" />
    </attributeGroup>


    <complexType name="MeasurementType">
        <annotation>
            <documentation>A measurement as reported somewhere (e.g. literature). NOT the original
                measurement from a device!</documentation>
        </annotation>
        <sequence>
            <element name="measure" type="gcdml:MeasureListType" />
            <element name="date" type="gcdml:FuzzyTimePositionType" />
        </sequence>
        <attributeGroup ref="gcdml:MeasurementAttributeGroup" />
        <attribute name="min" type="double" use="optional" />
        <attribute name="max" type="double" use="optional" />
    </complexType>

    <element name="_Measurement" abstract="true">
        <annotation>
            <documentation xml:lang="en">The head of the different types of how a measurement can be
                reported</documentation>
        </annotation>
    </element>

    <element name="measure" type="gcdml:MeasurementType" substitutionGroup="gcdml:_Measurement" />


    <complexType name="ParameterType">
        <choice>
            <element ref="gcdml:measure" />
            <element ref="gcdml:notGiven" />
        </choice>
    </complexType>




    <!-- ====== List of environmental parameters ===================== -->
    <element name="depth" type="gcdml:ParameterType" />
    <element name="altitude" type="gcdml:ParameterType" />
    <element name="temperature" type="gcdml:ParameterType">
        <annotation>
            <documentation>The temperature measured at the same time of nucleic acid source
                collection in the environment</documentation>
        </annotation>
    </element>
    <element name="pH" type="gcdml:ParameterType">
        <annotation>
            <documentation>The ph measured at the same time of nucleic acid source collection in the
                environment</documentation>
        </annotation>
    </element>
    <element name="salinity" type="gcdml:ParameterType" />
    <element name="pressure" type="gcdml:ParameterType" />
    <element name="chlorophyl" type="gcdml:ParameterType" />
    <element name="conductivity" type="gcdml:ParameterType" />
    <element name="lightIntensity" type="gcdml:ParameterType" />
    <element name="incidentLight" type="gcdml:ParameterType" />
    <element name="DOC">
        <annotation>
            <documentation xml:lang="en">Dissolved organic carbon. NOT IMPLEMENTED
            YET</documentation>
        </annotation>
    </element>
    <element name="current" type="gcdml:ParameterType" />
    <element name="density" type="gcdml:ParameterType" />
    <element name="alkalinity" type="gcdml:ParameterType" />
    <element name="dissolvedOxygen" type="gcdml:ParameterType" />
    <element name="POC">
        <annotation>
            <documentation xml:lang="en">Particulate organic carbon. NOT IMPLEMENTED
            YET</documentation>
        </annotation>
    </element>
    <element name="phosphate" type="gcdml:ParameterType" />
    <element name="nitrate" type="gcdml:ParameterType" />
    <element name="sulphates" type="gcdml:ParameterType" />
    <element name="sulphides" type="gcdml:ParameterType" />
    <element name="eH" type="gcdml:ParameterType" />
    <element name="porosity" type="gcdml:ParameterType" />
    <element name="permeabillity" type="gcdml:ParameterType" />
    <element name="sodium" type="gcdml:ParameterType" />
    <element name="potassium" type="gcdml:ParameterType" />
    <element name="windSpeed" type="gcdml:ParameterType" />


    <!-- =========================================================== -->
    <!-- ====== List of environmental parameters which can't be expressed in numbers ========= -->
    <!-- =========================================================== -->
    <element name="majorCations" type="gcdml:ParameterType" />
    <element name="atmosphericData" />
    <element name="grainSizeDistribution" />
    <element name="majorAnions" />
    <element name="primary_production" />
    <element name="phosphorusSpeciation" />
    <element name="nitrogenSpeciation">
        <annotation>
            <documentation xml:lang="en"> This paramter is confusing and should not be used as
                recommended by Ian Joint </documentation>
        </annotation>
    </element>
    <!-- =========================================================== -->
    <!-- ====== List of habitat containers ===================================== -->
    <!-- =========================================================== -->
    <element name="_Habitat" abstract="true">
        <annotation>
            <documentation>This abstract element serves as the head of a substitution group which
                may contain any elements that serves as a container for environmental parameters</documentation>
            <documentation>Note: The _Habitat substitution group just serves as a container for
                measurable environmental parameters and by no means try to mimic any biological
                knowledge about the concept of habitat. It is just a syntactic
            construct.</documentation>
        </annotation>
    </element>

    <element name="marineHabitat" type="gcdml:MarineHabitatType" substitutionGroup="gcdml:_Habitat" />
    <complexType name="MarineHabitatType">
        <annotation>
            <documentation>Describes measurements and observations in a the marine
            environment</documentation>
        </annotation>
        <all>
            <element name="waterBody" type="gcdml:WaterBodyType" />
            <element name="sediment" type="gcdml:SedimentType" minOccurs="0" />
        </all>
    </complexType>
    
    <complexType name="WaterBodyType">
        <sequence>
            <element ref="gcdml:depth">
                <annotation>
                    <documentation>Depth of the water column where the sample was
                    collected</documentation>
                </annotation>
            </element>
            <element ref="gcdml:temperature" minOccurs="0" />
            <element ref="gcdml:salinity" minOccurs="0" />
            <element ref="gcdml:pH" minOccurs="0" />
            <element ref="gcdml:conductivity" minOccurs="0" />
            <element ref="gcdml:DOC" minOccurs="0" />
            <element ref="gcdml:POC" minOccurs="0" />
            <element ref="gcdml:chlorophyl" minOccurs="0" />
            <element ref="gcdml:current" minOccurs="0" />
            <element ref="gcdml:density" minOccurs="0" />
            <element ref="gcdml:dissolvedOxygen" minOccurs="0" />
            <element ref="gcdml:incidentLight" minOccurs="0" />
            <element ref="gcdml:lightIntensity" minOccurs="0" />
            <element ref="gcdml:phosphate" minOccurs="0" />
            <element ref="gcdml:pressure" minOccurs="0" />
        </sequence>
    </complexType>

    <element name="sediment" type="gcdml:SedimentType" substitutionGroup="gcdml:_Habitat" />

    <complexType name="SedimentType">
        <sequence>
            <element ref="gcdml:temperature" minOccurs="0" />
            <element ref="gcdml:salinity" minOccurs="0" />
            <element ref="gcdml:pH" minOccurs="0" />
            <element ref="gcdml:density" minOccurs="0" />
            <element ref="gcdml:phosphate" minOccurs="0" />
            <element ref="gcdml:conductivity" minOccurs="0" />
            <element ref="gcdml:permeabillity" minOccurs="0" />
            <element ref="gcdml:porosity" minOccurs="0" />
        </sequence>
    </complexType>

    <element name="terrestrial" type="gcdml:TerrestrialHabitatType"
        substitutionGroup="gcdml:_Habitat" />

    <complexType name="TerrestrialHabitatType">
        <annotation>
            <documentation>Describes measurements and observations in a the terrestrial
            environment</documentation>
        </annotation>
        <sequence>
            <element ref="gcdml:sodium" minOccurs="0" />
            <element ref="gcdml:potassium" minOccurs="0" />
        </sequence>
    </complexType>


    <element name="air" type="gcdml:AirHabitatType" substitutionGroup="gcdml:_Habitat" />

    <complexType name="AirHabitatType">
        <annotation>
            <documentation>Describes measurements and observations in a the air
            environment</documentation>
        </annotation>
        <sequence>
            <element ref="gcdml:windSpeed" minOccurs="0" />
        </sequence>
    </complexType>

    <complexType name="AquaticHabitatType">
        <annotation>
            <documentation>Describes measurements and observations in aquatic
            environment</documentation>
        </annotation>
    </complexType>

    <complexType name="HostHabitatType">
        <annotation>
            <documentation>Describes measurements and observations in a host
            environment</documentation>
        </annotation>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Physical/Biological Samples =========================================== -->
    <!-- ============================================================== -->

    <element name="amount" type="gcdml:ParameterType">
        <annotation>
            <documentation>The volume of soil, water etc used in a metagenomic
            study.</documentation>
        </annotation>
    </element>

    <element name="sampleMaterial" type="gcdml:SampleMaterialType" />

    <complexType name="SampleMaterialType">
        <annotation>
            <documentation>It is the physical material that was collected as a
            sample</documentation>
        </annotation>
        <sequence>
            <element ref="gcdml:amount" />
            <element name="materialType" type="string" />
        </sequence>
    </complexType>



</schema>
