shared/schema/gcdml-20071130/gcdml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://gensc.org/gcdml" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gcdml="http://gensc.org/gcdml"
    elementFormDefault="qualified" version="1.4">

    <annotation>
        <documentation xml:lang="en"> This schema is the implementation of the Genomic Contextual
            Data Markup Language. The latest version of the schema can be found at :
            http://gensc.sf.net </documentation>
    </annotation>

    <!--    <include schemaLocation="./basicTypes.xsd" />-->
    <include schemaLocation="./environmentalSample.xsd" />
    <include schemaLocation="./sourceData.xsd" />

    <element name="nasReports">
        <annotation>
            <documentation xml:lang="en">Nucleic Acid Sequence Report. The root element of all
                MIGS/MIMS compliant reports as standardized by Genomic Standards
            Consortium.</documentation>
        </annotation>
        <complexType>
            <sequence>
                <!-- Can be any substitution of _Report  -->
                <element ref="gcdml:_NasReport" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
        </complexType>
    </element>


    <!-- ============================================================== -->
    <!-- == RSBI related stuff ================================================= -->
    <!-- ============================================================== -->


    <element name="study" abstract="true">
        <annotation>
            <documentation>Fom RSBI: "A Study is an experiment with distinct periods or Phase(s),
                having experimental procedure, or Action(s), applied to Subject(s) or Group(s) of
                these."</documentation>
            <documentation xml:lang="en">Global element which acts as head of the substitutionGroup
                that may include all types reports and summarys of conducted or ongoing
            studies.</documentation>
        </annotation>
    </element>

    <!-- ============================================================== -->
    <!-- == DNA Library Types =============================================== -->
    <!-- ============================================================== -->


    <!--<element name="DnaLibrary" type="gcdml:AbstractDnaLibraryType" substitutionGroup="gcdml:_Material"
        abstract="true" />
-->

    <element name="cloneVector">
        <complexType>
            <simpleContent>
                <extension base="gcdml:CloneVectorEnumType">
                    <attribute name="sequenceAccesion" type="gcdml:AccessionNumberListType" />
                </extension>
            </simpleContent>
        </complexType>
    </element>

    <complexType name="AbstractDnaLibraryType" abstract="true">
        <sequence>
            <element ref="gcdml:publication" minOccurs="0" maxOccurs="unbounded" />
            <element ref="gcdml:librarySize" minOccurs="0" />
            <element ref="gcdml:numSequencedClones" minOccurs="0" />
            <element ref="gcdml:cloneVector" minOccurs="0" />
        </sequence>
        <attribute name="label" type="string" use="optional" />
    </complexType>

    <complexType name="GenomeDNALibraryType">
        <complexContent>
            <restriction base="gcdml:AbstractDnaLibraryType">
                <sequence>
                    <element ref="gcdml:publication" minOccurs="0" maxOccurs="unbounded" />
                    <element ref="gcdml:librarySize" minOccurs="0" />
                    <element ref="gcdml:numSequencedClones" minOccurs="0" />
                    <element ref="gcdml:cloneVector" minOccurs="0" />
                </sequence>
                <attribute name="label" use="required" type="string" />
            </restriction>
        </complexContent>
    </complexType>

    <complexType name="MetagenomeLibraryType">
        <complexContent>
            <restriction base="gcdml:AbstractDnaLibraryType">
                <sequence>
                    <element ref="gcdml:publication" minOccurs="0" maxOccurs="unbounded" />
                    <element ref="gcdml:librarySize" minOccurs="1" />
                    <element ref="gcdml:numSequencedClones" minOccurs="1" />
                    <element ref="gcdml:cloneVector" minOccurs="1" />
                </sequence>
            </restriction>
        </complexContent>
    </complexType>



    <element name="dnaFilter" type="gcdml:DnaFilterType" substitutionGroup="gcdml:_Material" />

    <complexType name="DnaFilterType">
        <sequence>
            <element name="name" type="string" />
            <element name="poreSize" type="gcdml:MeasureType" />
        </sequence>
    </complexType>


    <element name="dnaExtract" substitutionGroup="gcdml:_Material" />

    <!-- ============================================================== -->
    <!-- == Isolate Types ================================================= -->
    <!-- ============================================================== -->

    <complexType name="AbstractIsolateType" abstract="true">
        <sequence>
            <element ref="gcdml:publication" minOccurs="0" maxOccurs="unbounded" />
            <element ref="gcdml:cultureCollection" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Organelle Isolate Types ============================================-->
    <!-- ============================================================== -->

    <complexType name="OrganelleIsolateType">
        <complexContent>
            <extension base="gcdml:AbstractIsolateType">
                <sequence>
                    <element ref="gcdml:estimatedSize" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Eukaryote Isolate Types ========================================== -->
    <!-- ============================================================== -->

    <complexType name="EukaryoticIsolateType">
        <complexContent>
            <extension base="gcdml:AbstractIsolateType">
                <sequence>
                    <element ref="gcdml:trophicLevel" />
                    <element ref="gcdml:ploidyLevel" />
                    <element ref="gcdml:numReplicons" />
                    <element ref="gcdml:extrachromosomalElements" minOccurs="0" />
                    <element ref="gcdml:estimatedSize" />
                    <element ref="gcdml:originalHost" minOccurs="0" />
                    <element ref="gcdml:hostSpecificityAndRange" minOccurs="0" />
                    <element ref="gcdml:pathogenicity" minOccurs="0" />
                    <element ref="gcdml:propagation" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Prokaryotic isolate Types ========================================= -->
    <!-- ============================================================== -->

    <complexType name="ProkaryoticIsolateType">
        <complexContent>
            <extension base="gcdml:AbstractIsolateType">
                <sequence>
                    <element ref="gcdml:trophicLevel" />
                    <element ref="gcdml:numReplicons" />
                    <element ref="gcdml:bioticRelationship" />
                    <element ref="gcdml:oxygenRelation" />
                    <element ref="gcdml:ploidyLevel" minOccurs="0" />
                    <element ref="gcdml:extrachromosomalElements" />
                    <element ref="gcdml:estimatedSize" minOccurs="0" />
                    <element ref="gcdml:originalHost" />
                    <element ref="gcdml:hostSpecificityAndRange" minOccurs="0" />
                    <element ref="gcdml:healthDiseaseStatus" />
                    <element ref="gcdml:pathogenicity" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Plasmid isolate Types ============================================ -->
    <!-- ============================================================== -->

    <complexType name="PlasmidIsolateType">
        <complexContent>
            <extension base="gcdml:AbstractIsolateType">
                <sequence>
                    <element ref="gcdml:bioticRelationship" />
                    <element ref="gcdml:estimatedSize" minOccurs="0" />
                    <element ref="gcdml:originalHost" />
                    <element ref="gcdml:hostSpecificityAndRange" minOccurs="0" />
                    <element ref="gcdml:propagation" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Virus Isolate Types ================================================ -->
    <!-- ============================================================== -->

    <complexType name="VirusIsolateType">
        <complexContent>
            <extension base="gcdml:AbstractIsolateType">
                <sequence>
                    <element ref="gcdml:numReplicons" />
                    <element ref="gcdml:ploidyLevel" minOccurs="0" />
                    <element ref="gcdml:estimatedSize" minOccurs="0" />
                    <element ref="gcdml:bioticRelationship" />
                    <element ref="gcdml:originalHost" />
                    <element ref="gcdml:alternateHost" minOccurs="0" maxOccurs="unbounded" />
                    <element ref="gcdml:healthDiseaseStatus" />
                    <element ref="gcdml:pathogenicity" />
                    <element ref="gcdml:propagation" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!--
    <complexType name="growthConditions">
        <sequence>
            <element ref="gcdml:isolationGrowthConditions" />
        </sequence>
    </complexType>-->


    <!-- ============================================================== -->
    <!-- == Sequencing Types ============================================= -->
    <!-- ============================================================== -->

    <simpleType name="GcContentType">
        <restriction base="decimal">
            <fractionDigits value="2" />
            <totalDigits value="5" />
            <maxInclusive value="100" />
            <minInclusive value="0" />
        </restriction>
    </simpleType>

    <element name="from-library">
        <annotation>
            <documentation>The DNA library the sequence is obtained from.</documentation>
        </annotation>
        <complexType>
            <attribute name="ref" type="string" use="required" />
        </complexType>
    </element>


    <complexType name="FullSequenceType">
        <sequence>
            <element name="accession" type="gcdml:AccessionNumberType">
                <annotation>
                    <documentation>The accession number as given by members of
                    INSDC.</documentation>
                </annotation>
            </element>
            <element ref="gcdml:assembly" />
            <element ref="gcdml:from-library" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute name="label" use="required" type="string">
            <annotation>
                <documentation>Arbitray label. Required in order to distinguish more than one
                    chromosome of a genome.</documentation>
            </annotation>
        </attribute>
        <attribute name="size" use="optional" type="positiveInteger" />
        <attribute name="gc" use="optional" type="gcdml:GcContentType" />
        <attribute name="coverage" type="gcdml:foldCoverageType" />
        <attribute ref="gcdml:sequencingMethod" use="optional" />
    </complexType>


    <complexType name="GenomeSequencingType">
        <choice>
            <element name="complete">
                <complexType>
                    <sequence>
                        <element name="chromosome" type="gcdml:FullSequenceType">
                            <annotation>
                                <documentation>The completly finished chromsome of an
                                organism.</documentation>
                            </annotation>
                        </element>
                        <element name="plasmid" type="gcdml:FullSequenceType" minOccurs="0"
                            maxOccurs="unbounded">
                            <annotation>
                                <documentation>The completly finished plasmid of an
                                organism.</documentation>
                            </annotation>
                        </element>
                    </sequence>
                    <attribute name="overallSequencingMethod" type="gcdml:sequencingMethodEnumType"
                        use="required" />
                </complexType>
            </element>

            <element name="draft">
                <complexType>
                    <sequence>
                        <element name="scaffoldSet" type="gcdml:scaffoldSetType" minOccurs="0" />
                        <element name="contigSet" type="gcdml:contigSetType" minOccurs="0" />
                        <element name="readSet" type="gcdml:readSetType" minOccurs="0" />
                    </sequence>
                    <attribute name="finishingStrategy" type="gcdml:finishingStrategyType" />
                    <attribute name="overallSequencingMethod" type="gcdml:sequencingMethodEnumType"
                        use="required" />
                </complexType>
            </element>
        </choice>
    </complexType>

    <complexType name="EukaryoticGenomeSequencingType">
        <choice>
            <element name="complete">
                <complexType>
                    <sequence>
                        <element name="chromosome" type="gcdml:FullSequenceType">
                            <annotation>
                                <documentation>The completly finished chromsome of an
                                organism.</documentation>
                            </annotation>
                        </element>

                    </sequence>
                    <attribute name="overallSequencingMethod" type="gcdml:sequencingMethodEnumType"
                        use="required" />
                </complexType>
            </element>

            <element name="draft">
                <complexType>
                    <sequence>
                        <element name="scaffoldSet" type="gcdml:scaffoldSetType" minOccurs="0" />
                        <element name="contigSet" type="gcdml:contigSetType" minOccurs="0" />
                        <element name="readSet" type="gcdml:readSetType" minOccurs="0" />
                    </sequence>
                    <attribute name="finishingStrategy" type="gcdml:finishingStrategyType" />
                    <attribute name="overallSequencingMethod" type="gcdml:sequencingMethodEnumType"
                        use="required" />
                </complexType>
            </element>
        </choice>
    </complexType>

    <complexType name="PlasmidGenomeSequencingType">
        <choice>
            <element name="complete">
                <complexType>
                    <sequence>
                        <element name="plasmid" type="gcdml:FullSequenceType" minOccurs="0">
                            <annotation>
                                <documentation>The completly finished plasmid of an
                                organism.</documentation>
                            </annotation>
                        </element>
                    </sequence>
                    <attribute name="overallSequencingMethod" type="gcdml:sequencingMethodEnumType"
                        use="required" />
                </complexType>
            </element>

            <element name="draft">
                <complexType>
                    <sequence>
                        <element name="scaffoldSet" type="gcdml:scaffoldSetType" minOccurs="0" />
                        <element name="contigSet" type="gcdml:contigSetType" minOccurs="0" />
                        <element name="readSet" type="gcdml:readSetType" minOccurs="0" />
                    </sequence>
                    <attribute name="finishingStrategy" type="gcdml:finishingStrategyType" />
                    <attribute name="overallSequencingMethod" type="gcdml:sequencingMethodEnumType"
                        use="required" />
                </complexType>
            </element>
        </choice>
    </complexType>

    <complexType name="VirusGenomeSequencingType">
        <choice>
            <element name="complete">
                <complexType>
                    <sequence>
                        <element name="segment" type="gcdml:FullSequenceType">
                            <annotation>
                                <documentation>The completly finished chromsome of an
                                organism.</documentation>
                            </annotation>
                        </element>

                    </sequence>
                    <attribute name="overallSequencingMethod" type="gcdml:sequencingMethodEnumType"
                        use="required" />
                </complexType>
            </element>

            <element name="draft">
                <complexType>
                    <sequence>
                        <element name="scaffoldSet" type="gcdml:scaffoldSetType" minOccurs="0" />
                        <element name="contigSet" type="gcdml:contigSetType" minOccurs="0" />
                        <element name="readSet" type="gcdml:readSetType" minOccurs="0" />
                    </sequence>
                    <attribute name="finishingStrategy" type="gcdml:finishingStrategyType" />
                    <attribute name="overallSequencingMethod" type="gcdml:sequencingMethodEnumType"
                        use="required" />
                </complexType>
            </element>
        </choice>
    </complexType>


    <element name="idList">
        <annotation>
            <documentation>List of sequence ids.</documentation>
        </annotation>
        <simpleType>
            <list itemType="string" />
        </simpleType>
    </element>

    <element name="idRange">
        <annotation>
            <documentation>Range of sequence ids.</documentation>
        </annotation>
        <simpleType>
            <restriction base="string">
                <pattern value=".*-.*" />
                <minLength value="3" />
            </restriction>
        </simpleType>
    </element>

    <group name="rangeORlist">
        <choice>
            <element ref="gcdml:idRange" />
            <element ref="gcdml:idList" />
        </choice>
    </group>

    <attribute name="label" type="string" />
    <attribute name="sequencingMethod" type="gcdml:sequencingMethodEnumType">
        <annotation>
            <documentation>Optional description of sequencing method.</documentation>
        </annotation>
    </attribute>

    <complexType name="scaffoldSetType">
        <sequence>
            <group ref="gcdml:rangeORlist" />
            <element ref="gcdml:assembly" minOccurs="0" />
            <element ref="gcdml:from-library" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute ref="gcdml:label" use="optional" />
        <attribute ref="gcdml:sequencingMethod" use="optional" />
    </complexType>

    <!-- TODO: combine scaffold and contigsets -->
    <complexType name="contigSetType">
        <sequence>
            <group ref="gcdml:rangeORlist" />
            <element ref="gcdml:assembly" minOccurs="0" />
            <element ref="gcdml:from-library" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute ref="gcdml:label" use="optional" />
        <attribute ref="gcdml:sequencingMethod" use="optional" />
    </complexType>


    <complexType name="readSetType">
        <sequence>
            <group ref="gcdml:rangeORlist" />
            <element ref="gcdml:from-library" minOccurs="0" />
        </sequence>
        <attribute ref="gcdml:label" use="optional" />
        <attribute ref="gcdml:sequencingMethod" use="optional" />
    </complexType>

    <!--   <complexType name="MetagenomeSequencingType">
        <complexContent>
            <extension base="gcdml:AbstractSequencingType">
                <sequence>
                    <element ref="gcdml:fragmentClassificationMethod" />
                    <element ref="gcdml:foldCoverage" minOccurs="0" />
                    <element ref="gcdml:numContigs" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>-->

    <complexType name="MetagenomeSequencingType">
        <sequence>
            <element ref="gcdml:fragmentClassificationMethod" />
            <element ref="gcdml:foldCoverage" minOccurs="0" />
            <element ref="gcdml:numContigs" minOccurs="0" />
            <element name="scaffoldSet" type="gcdml:scaffoldSetType" />
            <element name="contigSet" type="gcdml:contigSetType" />
            <element name="readSet" type="gcdml:readSetType" />
        </sequence>
    </complexType>



    <group name="externalIdentifiers">
        <sequence>
            <element ref="gcdml:gcatID" minOccurs="0" />
            <element ref="gcdml:goldStamp" minOccurs="0" />
            <element ref="gcdml:genomeProjectID" minOccurs="0" />
        </sequence>
    </group>


    <!-- ============================================================== -->
    <!-- == Minimal Reports ========================================= -->
    <!-- ============================================================== -->
    <element name="_NasReport" abstract="true" substitutionGroup="gcdml:study">
        <annotation>
            <documentation xml:lang="en">Global element which acts as head of the substitutionGroup
                that may include all types of reports</documentation>
            <documentation>A report is a defined structure that determines what and how results of a
                finished study should be reported</documentation>
        </annotation>
    </element>


    <!-- ============================================================== -->
    <!-- == Minimal Eukaryotic Report ======================================== -->
    <!-- ============================================================== -->

    <element name="eukaryote" type="gcdml:EukaryoteReportType" substitutionGroup="gcdml:_NasReport">
        <annotation>
            <documentation>Report about eukaryotic genome sequences. MIGS/MIMS compliant
            </documentation>
        </annotation>
        <key name="eukaryoteLibrary">
            <selector xpath="gcdml:dnaLibrary" />
            <field xpath="@label" />
        </key>

        <keyref refer="gcdml:eukaryoteLibrary" name="eukaryote-complete-lib-ref">
            <selector xpath="gcdml:sequencing/gcdml:complete/gcdml:chromosome/gcdml:from-library" />
            <field xpath="@ref" />
        </keyref>
        <keyref refer="gcdml:eukaryoteLibrary" name="eukaryote-draft-lib-ref">
            <selector
                xpath="gcdml:sequencing/gcdml:draft/gcdml:scaffoldSet/gcdml:from-library|gcdml:sequencing/gcdml:draft/gcdml:contigSet/gcdml:from-library|gcdml:sequencing/gcdml:draft/gcdml:readSet/gcdml:from-library" />
            <field xpath="@ref" />
        </keyref>
    </element>

    <complexType name="EukaryoteReportType">
        <sequence>
            <element name="ncbiOrganismName" type="gcdml:GenomeProjectOrganismNameType" />
            <element name="ncbiTaxID" type="gcdml:NCBITaxidType" minOccurs="0" />

            <group ref="gcdml:externalIdentifiers" />

            <element ref="gcdml:originalSample" />

            <element name="Isolate" type="gcdml:EukaryoticIsolateType" minOccurs="1">
                <annotation>
                    <documentation>In case of unicelluar microorgnism</documentation>
                </annotation>
            </element>

            <element ref="gcdml:nucExtract" />

            <element name="dnaLibrary" type="gcdml:GenomeDNALibraryType" minOccurs="0">
                <annotation>
                    <documentation>Description of the libraries used for for
                    sequencing</documentation>
                </annotation>
            </element>

            <element name="sequencing" type="gcdml:EukaryoticGenomeSequencingType" />

        </sequence>
    </complexType>

    <!--    Not tested yet therefore no specific type-->

    <!-- ============================================================== -->
    <!-- == Minimal Prokaryotic Report ========================================= -->
    <!-- ============================================================== -->

    <element name="prokaryote" type="gcdml:ProkaroyteReportType"
        substitutionGroup="gcdml:_NasReport">

        <key name="prokaryoteLibrary">
            <selector xpath="gcdml:dnaLibrary" />
            <field xpath="@label" />
        </key>

        <keyref refer="gcdml:prokaryoteLibrary" name="prokaryote-complete-lib-ref">
            <selector
                xpath="gcdml:sequencing/gcdml:complete/gcdml:chromosome/gcdml:from-library|gcdml:sequencing/gcdml:complete/gcdml:plasmid/gcdml:from-library" />
            <field xpath="@ref" />
        </keyref>
        <keyref refer="gcdml:prokaryoteLibrary" name="prokaryote-draft-lib-ref">
            <selector
                xpath="gcdml:sequencing/gcdml:draft/gcdml:scaffoldSet/gcdml:from-library|gcdml:sequencing/gcdml:draft/gcdml:contigSet/gcdml:from-library|gcdml:sequencing/gcdml:draft/gcdml:readSet/gcdml:from-library" />
            <field xpath="@ref" />
        </keyref>
    </element>

    <complexType name="ProkaroyteReportType">

        <sequence>
            <element name="ncbiOrganismName" type="gcdml:GenomeProjectOrganismNameType" />
            <element name="ncbiTaxID" type="gcdml:NCBITaxidType" minOccurs="0" />

            <group ref="gcdml:externalIdentifiers" />

            <element ref="gcdml:originalSample" />

            <element name="Isolate" type="gcdml:ProkaryoticIsolateType" minOccurs="1">
                <annotation>
                    <documentation>In case of unicelluar microorgnism</documentation>
                </annotation>
            </element>

            <element ref="gcdml:nucExtract" />

            <element name="dnaLibrary" type="gcdml:GenomeDNALibraryType" minOccurs="0" />

            <element name="sequencing" type="gcdml:GenomeSequencingType" />
        </sequence>
    </complexType>





    <!-- ============================================================== -->
    <!-- == Minimal Plasmid Report =========================================== -->
    <!-- ============================================================== -->

    <element name="plasmid" type="gcdml:PlasmidReportType" substitutionGroup="gcdml:_NasReport">

        <key name="plasmidLibrary">
            <selector xpath="gcdml:dnaLibrary" />
            <field xpath="@label" />
        </key>

        <keyref refer="gcdml:plasmidLibrary" name="plasmid-complete-lib-ref">
            <selector xpath="gcdml:sequencing/gcdml:complete/gcdml:plasmid/gcdml:from-library" />
            <field xpath="@ref" />
        </keyref>
        <keyref refer="gcdml:plasmidLibrary" name="plasmid-draft-lib-ref">
            <selector
                xpath="gcdml:sequencing/gcdml:draft/gcdml:scaffoldSet/gcdml:from-library|gcdml:sequencing/gcdml:draft/gcdml:contigSet/gcdml:from-library|gcdml:sequencing/gcdml:draft/gcdml:readSet/gcdml:from-library" />
            <field xpath="@ref" />
        </keyref>
    </element>

    <complexType name="PlasmidReportType">
        <sequence>
            <element name="ncbiOrganismName" type="gcdml:GenomeProjectOrganismNameType" />
            <element name="ncbiTaxID" type="gcdml:NCBITaxidType" minOccurs="0" />

            <group ref="gcdml:externalIdentifiers" />

            <element ref="gcdml:originalSample" />

            <element name="Isolate" type="gcdml:PlasmidIsolateType" minOccurs="1">
                <annotation>
                    <documentation>In case of unicelluar microorgnism</documentation>
                </annotation>
            </element>

            <element ref="gcdml:nucExtract" />

            <element name="dnaLibrary" type="gcdml:GenomeDNALibraryType" minOccurs="0" />

            <element name="sequencing" type="gcdml:PlasmidGenomeSequencingType" minOccurs="1" />

        </sequence>

    </complexType>

    <!-- ============================================================== -->
    <!-- == Minimal Virus Report =========================================== -->
    <!-- ============================================================== -->

    <element name="virus" type="gcdml:VirusReportType" substitutionGroup="gcdml:_NasReport">
        <key name="virusLibrary">
            <selector xpath="gcdml:dnaLibrary" />
            <field xpath="@label" />
        </key>

        <keyref refer="gcdml:virusLibrary" name="virus-complete-lib-ref">
            <selector xpath="gcdml:sequencing/gcdml:complete/gcdml:segment/gcdml:from-library" />
            <field xpath="@ref" />
        </keyref>
        <keyref refer="gcdml:virusLibrary" name="virus-draft-lib-ref">
            <selector
                xpath="gcdml:sequencing/gcdml:draft/gcdml:scaffoldSet/gcdml:from-library|gcdml:sequencing/gcdml:draft/gcdml:contigSet/gcdml:from-library|gcdml:sequencing/gcdml:draft/gcdml:readSet/gcdml:from-library" />
            <field xpath="@ref" />
        </keyref>
    </element>

    <complexType name="VirusReportType">
        <sequence>
            <element name="ncbiOrganismName" type="gcdml:GenomeProjectOrganismNameType" />
            <element name="ncbiTaxID" type="gcdml:NCBITaxidType" minOccurs="0" />

            <group ref="gcdml:externalIdentifiers" />

            <element ref="gcdml:originalSample" />

            <element name="isolate" type="gcdml:VirusIsolateType" minOccurs="1" />

            <element ref="gcdml:nucExtract" />

            <element name="dnaLibrary" type="gcdml:GenomeDNALibraryType" minOccurs="0" />

            <element name="sequencing" type="gcdml:VirusGenomeSequencingType" minOccurs="1" />

        </sequence>

    </complexType>

    <!-- ============================================================== -->
    <!-- == Minimal Metagenome Report ======================================== -->
    <!-- ============================================================== -->

    <element name="metagenome" type="gcdml:MetagenomeReportType"
        substitutionGroup="gcdml:_NasReport">
        <key name="metagenomeLibrary">
            <selector xpath="gcdml:dnaLibrary" />
            <field xpath="@label" />
        </key>

        <keyref refer="gcdml:metagenomeLibrary" name="metagenome-lib-ref">
            <selector
                xpath="gcdml:sequencing/gcdml:scaffoldSet/gcdml:from-library|gcdml:sequencing/gcdml:contigSet/gcdml:from-library|gcdml:sequencing/gcdml:readSet/gcdml:from-library" />
            <field xpath="@ref" />
        </keyref>

    </element>

    <complexType name="MetagenomeReportType">
        <sequence>

            <group ref="gcdml:externalIdentifiers" />

            <element name="originalSample" type="gcdml:SourceSampleMetagenomicType">
                <annotation>
                    <documentation xml:lang="en">The environmental source description of the
                        original, physical material or organismal sample collected from the
                        environment. </documentation>
                </annotation>

            </element>

            <element name="Isolate" type="gcdml:EukaryoticIsolateType" minOccurs="0">
                <annotation>
                    <documentation>In case of unicelluar microorgnism</documentation>
                </annotation>
            </element>

            <element ref="gcdml:nucExtract" />

            <element name="dnaLibrary" type="gcdml:MetagenomeLibraryType" minOccurs="1">
                <annotation>
                    <documentation>Description of the libraries used for for
                    sequencing</documentation>
                </annotation>
            </element>

            <element name="sequencing" type="gcdml:MetagenomeSequencingType" minOccurs="1" />

        </sequence>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Minimal Organelle Report =========================================== -->
    <!-- ============================================================== -->

    <element name="organelle" type="gcdml:OrganelleReportType" substitutionGroup="gcdml:_NasReport">
        <key name="organelleLibrary">
            <selector xpath="gcdml:dnaLibrary" />
            <field xpath="@label" />
        </key>

        <keyref refer="gcdml:organelleLibrary" name="organelle-complete-lib-ref">
            <selector xpath="gcdml:sequencing/gcdml:complete/gcdml:chromosome/gcdml:from-library" />
            <field xpath="@ref" />
        </keyref>
        <keyref refer="gcdml:organelleLibrary" name="organelle-draft-lib-ref">
            <selector
                xpath="gcdml:sequencing/gcdml:draft/gcdml:scaffoldSet/gcdml:from-library|gcdml:sequencing/gcdml:draft/gcdml:contigSet/gcdml:from-library|gcdml:sequencing/gcdml:draft/gcdml:readSet/gcdml:from-library" />
            <field xpath="@ref" />
        </keyref>

    </element>

    <complexType name="OrganelleReportType">
        <sequence>
            <element name="ncbiOrganismName" type="gcdml:GenomeProjectOrganismNameType" />
            <element name="ncbiTaxID" type="gcdml:NCBITaxidType" minOccurs="0" />

            <group ref="gcdml:externalIdentifiers" />

            <element ref="gcdml:originalSample" />

            <element name="isolate" type="gcdml:OrganelleIsolateType" minOccurs="1">
                <annotation>
                    <documentation>In case of unicelluar microorgnism</documentation>
                </annotation>
            </element>

            <element ref="gcdml:nucExtract" />

            <element name="dnaLibrary" type="gcdml:GenomeDNALibraryType" minOccurs="0">
                <annotation>
                    <documentation>Description of the libraries used for for
                    sequencing</documentation>
                </annotation>
            </element>

            <element name="sequencing" type="gcdml:EukaryoticGenomeSequencingType" minOccurs="1" />

        </sequence>
    </complexType>




    <!-- ============================================================== -->
    <!-- == Other Stuff  ==================================================== -->
    <!-- ============================================================== -->

    <simpleType name="ReportSimpleType">
        <annotation>
            <documentation>Enumeration of types of report.</documentation>
        </annotation>
        <restriction base="token">
            <enumeration value="Metagenome" />
            <enumeration value="Bacteria" />
            <enumeration value="Archaea" />
            <enumeration value="Plasmid" />
            <enumeration value="Eukaryote" />
            <enumeration value="Virus" />
            <enumeration value="Phage" />
            <enumeration value="Mitochondrion" />
            <enumeration value="Chloroplast" />
            <enumeration value="Nucleomorph" />
        </restriction>
    </simpleType>


    <element name="samplingStrategy">
        <complexType>
            <simpleContent>
                <extension base="gcdml:samplingStrategyEnumType"> </extension>
            </simpleContent>
        </complexType>
    </element>

    <element name="isolationGrowthConditions">
        <annotation>
            <documentation>Information about the conditions required to grow the isolate (genome) in
                the laboratory; for a genetic element; for example information on suitable host.
                This is in addition to reference for biometerial and the original genome
                publication. Right now this is free text but should accept URLs, DOIs, PMIDs or SOPs
                and published information on this.</documentation>
        </annotation>
        <complexType>
            <simpleContent>
                <extension base="string"> </extension>
            </simpleContent>
        </complexType>
    </element>

    <element name="nucExtract">
        <annotation>
            <documentation>How was the genetic (DNA or RNA) material extracted and prepared for
                library construction (e.g. MDA, emPCR, plones) Input: CV</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="method" type="gcdml:nucExtractionEnumType" />
                <element ref="gcdml:publication" minOccurs="0" />
            </sequence>
        </complexType>
    </element>


    <element name="dnaAmplificationMethod">
        <annotation>
            <documentation>How was the genetic material amplified for library construction (e.g.
                MDA, emPCR, plones)</documentation>
        </annotation>
        <complexType>
            <simpleContent>
                <extension base="gcdml:dnaAmplificationEnumType"> </extension>
            </simpleContent>
        </complexType>
    </element>



    <element name="numSequencedClones" type="gcdml:posIntegerOrNull">
        <annotation>
            <documentation>Total number of clones sequenced for this project. Input:
            integer</documentation>
        </annotation>
    </element>

    <element name="sequencingMethod">
        <annotation>
            <documentation>The name of the sequencing method used (e.g. dideoxysequencing,
                pryosequencing, polony, synthesis with protected dNTPs). Input: CV</documentation>
        </annotation>
        <complexType>
            <simpleContent>
                <extension base="gcdml:sequencingMethodEnumType"> </extension>
            </simpleContent>
        </complexType>
    </element>

    <element name="estimatedErrorRate" type="gcdml:posIntegerOrNull">
        <annotation>
            <documentation>Estimated error rate associated with the finished sequences and method of
                calculation (e.g. error rate of 1 in 1000 bp). </documentation>
        </annotation>
    </element>

    <element name="assemblyMethod" type="gcdml:assemblyMethodEnumType">
        <annotation>
            <documentation>How was the assembly done (e.g. with a text based assembler like phrap or
                a flowgram assembler etc). Input: CV</documentation>
        </annotation>
    </element>

    <!-- TODO method of calculation is missing -->
    <element name="assembly">
        <complexType>
            <sequence>
                <element ref="gcdml:assemblyMethod" />
                <element ref="gcdml:estimatedErrorRate" />
            </sequence>
        </complexType>
    </element>

    <element name="numContigs">
        <annotation>
            <documentation>How many contigs were produced for the genome. integer.</documentation>
        </annotation>
        <complexType>
            <simpleContent>
                <extension base="positiveInteger" />
            </simpleContent>
        </complexType>
    </element>


    <element name="organism">
        <annotation>
            <documentation>The information in organism describes the biological origin of each
                genome or metagenomic and provides details on how to obtain it (e.g. the isolate
                from a culture collection). Everything should be specific</documentation>
        </annotation>

        <complexType>
            <sequence>
                <element ref="gcdml:geneticLineage" />
                <element ref="gcdml:ploidyLevel" />
                <element ref="gcdml:numReplicons" />
                <element ref="gcdml:extrachromosomalElements" />
                <element ref="gcdml:estimatedSize" />
                <!--                <element ref="gcdml:biomaterialReference" />-->
                <element ref="gcdml:cultureCollection" />
                <element ref="gcdml:bioticRelationship" />
                <element ref="gcdml:originalHost" />
                <element ref="gcdml:hostSpecificityAndRange" />

                <element ref="gcdml:healthDiseaseStatus" />

                <element ref="gcdml:pathogenicity" />
                <element ref="gcdml:trophicLevel" />
                <element ref="gcdml:estimatedCommunityDiversity" />

            </sequence>
        </complexType>
    </element>

    <!-- ======================================== -->
    <!-- == Elements from older MIGS/MIMS Schemea ============ -->
    <!-- ============================================================ -->
    <element name="_Assay" abstract="true" />

    <complexType name="InvestigationType">
        <annotation>
            <documentation>Investigation as defined by RSBI and supported by MICheck
                http://mibbi.sourceforge.net/. An investigation in MIGS refers to the general of a
                single genome or metagenomic dataset.</documentation>
        </annotation>

        <sequence>
            <element name="study" type="gcdml:StudyType" />

            <element name="Assay">
                <annotation>
                    <documentation>Assay as defined by RSBI and supported by MICheck
                        http://mibbi.sourceforge.net/</documentation>
                </annotation>
                <complexType>
                    <sequence>

                        <element name="sample_processing">
                            <annotation>
                                <documentation>The information in sample processing describes the
                                    way a biological sample was processing after collection and
                                    sequenced.</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element ref="gcdml:isolationGrowthConditions" />
                                    <element ref="gcdml:nucExtract" />
                                    <element ref="gcdml:dnaAmplificationMethod" />
                                    <!--                                    <element ref="gcdml:DnaLibrary" />-->
                                    <element ref="gcdml:sequencingMethod" />
                                </sequence>
                            </complexType>
                        </element>

                        <!--                        <element ref="gcdml:dataProcessing" />-->

                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>


    <element name="phenotype">
        <annotation>
            <documentation>The information in phenotype describes information about physical
                characteristics and other traits.</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="gcdml:propagation" />
                <element ref="gcdml:encodedTraits" />
                <element ref="gcdml:oxygenRelation" />
            </sequence>
        </complexType>
    </element>

    <complexType name="StudyType">
        <annotation>
            <documentation>Study as defined by RSBI and supported by MICheck
                http://mibbi.sourceforge.net/</documentation>
        </annotation>

        <sequence>
            <element ref="gcdml:organism" />
            <element ref="gcdml:phenotype" />
        </sequence>
    </complexType>


</schema>
