shared/schema/gcdml/environmentalParameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://gensc.sf.net/gdml" xmlns:gdml="http://gensc.sf.net/gdml"
    xmlns="http://www.w3.org/2001/XMLSchema" version="1.4" elementFormDefault="qualified">
    <annotation>
        <documentation>Minimum Information about a Metagenomic Sequence (MIMS). Currently applies
            to:: ocean water, sediment, and sediment pore water. MIMS originated in aset of
            environmental parameters developed by The International Census of Marine Microbes
            (http://icomm.mbl.edu/) which has been reduced into a list of core and optional
            parameters by Renzo Kottman based on the appearance of parameters in a survey of 62
            metagenomic publications. Builds on MIGS to form an extension for the marine
            metagenomics community. This should be extended in the future to other habitat types
            like soil etc.</documentation>
    </annotation>

    <include schemaLocation="./basicTypes.xsd" />



    <attributeGroup name="MeasurementAttributeGroup">
        <attribute name="standardDeviation" type="gdml:doubleOrNull" />
        <attribute name="numMeasurements" type="gdml:posIntegerOrNull">
            <annotation>
                <documentation>How many measurements resulted in the reported
                number?</documentation>
            </annotation>
        </attribute>
        <attribute name="comment" type="gdml:comment" />
    </attributeGroup>


    <complexType name="ReportedMeasurementType">
        <annotation>
            <documentation>A measurement as reported somewhere (e.g. literature). NOT the original
                measurement from a device!</documentation>
        </annotation>
        <complexContent>
            <extension base="gdml:MeasureType">
                <attributeGroup ref="gdml:MeasurementAttributeGroup" />
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ReportedMeasurementRangeType">
        <attribute name="uom" type="anyURI" use="required" />
        <attributeGroup ref="gdml:MeasurementAttributeGroup" />
        <attribute name="min" type="double" />
        <attribute name="max" type="double" />
    </complexType>
    <element name="_Measurement" abstract="true">
        <annotation>
            <documentation xml:lang="en">The head of the different types of how a measurement can be
                reported</documentation>
        </annotation>
    </element>

    <element name="measure" type="gdml:MeasureType" substitutionGroup="gdml:_Measurement" />

    <element name="measureList" type="gdml:MeasureListType" substitutionGroup="gdml:_Measurement" />

    <element name="reportedMeasurement" type="gdml:ReportedMeasurementType"
        substitutionGroup="gdml:_Measurement" />

    <element name="reportedMeasurementRange" type="gdml:ReportedMeasurementRangeType"
        substitutionGroup="gdml:_Measurement" />

    <group name="MeasurementProperties">
        <choice>
            <element ref="gdml:_Measurement" />
            <element ref="gdml:notGiven" />
        </choice>
    </group>

    <complexType name="ParameterType">
        <choice>
            <element ref="gdml:notGiven" />
            <element ref="gdml:_Measurement" />
        </choice>
    </complexType>

    <complexType name="MeasureParameterType">
        <complexContent>
            <restriction base="gdml:ParameterType">
                <choice>
                    <element ref="gdml:notGiven" />
                    <element ref="gdml:measure" />
                </choice>
            </restriction>
        </complexContent>
    </complexType>


    <!-- ====== List of environmental parameters ===================== -->
    <element name="depth" type="gdml:ParameterType" />
    <element name="altitude" type="gdml:ParameterType" />
    <element name="temperature" type="gdml:ParameterType">
        <annotation>
            <documentation>The temperature measured at the same time of nucleic acid source
                collection in the environment</documentation>
        </annotation>
    </element>
    <element name="pH" type="gdml:ParameterType">
        <annotation>
            <documentation>The ph measured at the same time of nucleic acid source collection in the
                environment</documentation>
        </annotation>
    </element>
    <element name="salinity" type="gdml:ParameterType" />
    <element name="pressure" type="gdml:ParameterType" />
    <element name="chlorophyl" type="gdml:ParameterType" />
    <element name="conductivity" type="gdml:ParameterType" />
    <element name="lightIntensity" type="gdml:ParameterType" />
    <element name="incidentLight" type="gdml:ParameterType" />
    <element name="DOC">
        <annotation>
            <documentation xml:lang="en">Dissolved organic carbon. NOT IMPLEMENTED
            YET</documentation>
        </annotation>
    </element>
    <element name="current" type="gdml:ParameterType" />
    <element name="density" type="gdml:ParameterType" />
    <element name="alkalinity" type="gdml:ParameterType" />
    <element name="dissolvedOxygen" type="gdml:ParameterType" />
    <element name="POC">
        <annotation>
            <documentation xml:lang="en">Particulate organic carbon. NOT IMPLEMENTED
            YET</documentation>
        </annotation>
    </element>
    <element name="phosphate" type="gdml:ParameterType" />
    <element name="nitrate" type="gdml:ParameterType" />
    <element name="sulphates" type="gdml:ParameterType" />
    <element name="sulphides" type="gdml:ParameterType" />
    <element name="eH" type="gdml:ParameterType" />
    <element name="porosity" type="gdml:ParameterType" />
    <element name="permeabillity" type="gdml:ParameterType" />
    <element name="sodium" type="gdml:ParameterType" />
    <element name="potassium" type="gdml:ParameterType" />
    <element name="windSpeed" type="gdml:ParameterType" />


    <!-- =========================================================== -->
    <!-- ====== List of environmental parameters which can't be expressed in numbers ========= -->
    <!-- =========================================================== -->
    <element name="majorCations" type="gdml:ParameterType" />
    <element name="atmosphericData" />
    <element name="grainSizeDistribution" />
    <element name="majorAnions" />
    <element name="primary_production" />
    <element name="phosphorusSpeciation" />
    <element name="nitrogenSpeciation">
        <annotation>
            <documentation xml:lang="en"> This paramter is confusing and should not be used as
                recommended by Ian Joint </documentation>
        </annotation>
    </element>
    <!-- =========================================================== -->
    <!-- ====== List of habitat containers ===================================== -->
    <!-- =========================================================== -->
    <element name="_Habitat" abstract="true">
        <annotation>
            <documentation>This abstract element serves as the head of a substitution group which
                may contain any elements that serves as a container for environmental parameters</documentation>
            <documentation>Note: The _Habitat substitution group just serves as a container for
                measurable environmental parameters and by no means try to mimic any biological
                knowledge about the concept of habitat. It is just a syntactic
            construct.</documentation>
        </annotation>
    </element>

    <element name="marineHabitat" type="gdml:MarineHabitatType" substitutionGroup="gdml:_Habitat" />
    <complexType name="MarineHabitatType">
        <annotation>
            <documentation>Describes measurements and observations in a the marine
            environment</documentation>
        </annotation>
        <all>
            <element name="waterBody" type="gdml:WaterBodyType" />
            <element name="sediment" type="gdml:SedimentType" minOccurs="0" />
        </all>
    </complexType>
    <complexType name="WaterBodyType">
        <sequence>
            <element ref="gdml:depth">
                <annotation>
                    <documentation>Depth of the water column where the sample was
                    collected</documentation>
                </annotation>
            </element>
            <element ref="gdml:temperature" minOccurs="0" />
            <element ref="gdml:salinity" minOccurs="0" />
            <element ref="gdml:pH" minOccurs="0" />
            <element ref="gdml:conductivity" minOccurs="0" />
            <element ref="gdml:DOC" minOccurs="0" />
            <element ref="gdml:POC" minOccurs="0" />
            <element ref="gdml:chlorophyl" minOccurs="0" />
            <element ref="gdml:current" minOccurs="0" />
            <element ref="gdml:density" minOccurs="0" />
            <element ref="gdml:dissolvedOxygen" minOccurs="0" />
            <element ref="gdml:incidentLight" minOccurs="0" />
            <element ref="gdml:lightIntensity" minOccurs="0" />
            <element ref="gdml:phosphate" minOccurs="0" />
            <element ref="gdml:pressure" minOccurs="0" />
        </sequence>
    </complexType>

    <element name="sediment" type="gdml:SedimentType" substitutionGroup="gdml:_Habitat" />

    <complexType name="SedimentType">
        <sequence>
            <element ref="gdml:temperature" minOccurs="0" />
            <element ref="gdml:salinity" minOccurs="0" />
            <element ref="gdml:pH" minOccurs="0" />
            <element ref="gdml:density" minOccurs="0" />
            <element ref="gdml:phosphate" minOccurs="0" />
            <element ref="gdml:conductivity" minOccurs="0" />
            <element ref="gdml:permeabillity" minOccurs="0" />
            <element ref="gdml:porosity" minOccurs="0" />
        </sequence>
    </complexType>

    <element name="terrestrial" type="gdml:TerrestrialHabitatType" substitutionGroup="gdml:_Habitat" />

    <complexType name="TerrestrialHabitatType">
        <annotation>
            <documentation>Describes measurements and observations in a the terrestrial
            environment</documentation>
        </annotation>
        <sequence>
            <element ref="gdml:sodium" minOccurs="0" />
            <element ref="gdml:potassium" minOccurs="0" />
        </sequence>
    </complexType>


    <element name="air" type="gdml:AirHabitatType" substitutionGroup="gdml:_Habitat" />

    <complexType name="AirHabitatType">
        <annotation>
            <documentation>Describes measurements and observations in a the air
            environment</documentation>
        </annotation>
        <sequence>
            <element ref="gdml:windSpeed" minOccurs="0" />
        </sequence>
    </complexType>

    <complexType name="AquaticHabitatType">
        <annotation>
            <documentation>Describes measurements and observations in aquatic
            environment</documentation>
        </annotation>
    </complexType>

    <complexType name="HostHabitatType">
        <annotation>
            <documentation>Describes measurements and observations in a host
            environment</documentation>
        </annotation>
    </complexType>

    <!-- ============================================================== -->
    <!-- == Physical/Biological Samples =========================================== -->
    <!-- ============================================================== -->

    <element name="amount" type="gdml:MeasureParameterType">
        <annotation>
            <documentation>The volume of soil, water etc used in a metagenomic
            study.</documentation>
        </annotation>
    </element>

    <element name="sampleMaterial" type="gdml:SampleMaterialType" />

    <complexType name="SampleMaterialType">
        <annotation>
            <documentation>It is the physical material that was collected as a
            sample</documentation>
        </annotation>
        <sequence>
            <element ref="gdml:amount" />
            <element name="materialType" type="string" />
        </sequence>
    </complexType>



</schema>
